[2021-05-31 11:50] fosspill commented on #222
It is always very helpful to post issues such as these. It forces you to go through your configuration to ensure the issue is documented well enough.

If you use HTTP you'll get the error "Authentication credentials were not provided". Seems I missed the S key while typing the url.

[2021-05-31 11:50] #222 closed

[2021-05-31 11:53] cdubz commented on #222
Glad you figured that out. I didn’t know one could do that with iOS shortcuts — neat!

[2021-05-31 13:00] jcgoette commented on #192
Are we saying just the Feeding model? Or every model that currently requires Start and End times?

I agree with pre-populating with `.now()` (similar to how Note and Timer are currently).

[2021-05-31 13:28] cdubz commented on #192
Good question. I was only thinking about the Feeding model but some or all of the suggested improvements may make sense for other models as well. I’m open to PRs.

[2021-05-31 13:36] jcgoette commented on #192
I think leaving Sleep and TummyTime as they are makes sense (for now?). I will work on PR:

- Default Feeding `start` = `now()`
- Set Feeding `end` `blank = True`

@philip-n's other suggestions (add + and - buttons, configure the time picker widget so that it defaults to showing time selection first) are more general. Should we move to another issue?

[2021-05-31 13:37] cdubz commented on #217
Yep. Makes sense and I am on board. But it’s a pretty big enhancement.

There may be existing tooling for Django that would make this much easier. Here’s a potentially relevant (if outdated) SO discussion: https://stackoverflow.com/questions/7933596/django-dynamic-model-fields

[2021-05-31 13:39] cdubz commented on #192
Yeah we can break off those enhancements to the timer. I’m hoping at least the “default to time input” part will be easy.

[2021-06-01 22:07] philip-n commented on #217
Great! While the SO discussion is a little dated, I guess that the basic principles of the top answer are still valid. My Google-Fu did not turn up many additional interesting results.

Quick summary:

Further, there seems to be some implementation in [django-payslip](https://stackoverflow.com/questions/34907014/django-allow-user-to-add-fields-to-model/51751466) to add fields to models, but this i

[2021-06-03 14:52] svenvdmeer opened #224 "Disable autocomplete for date and time fields"
![autocomplete](https://user-images.githubusercontent.com/8640505/120665514-229b4a00-c48c-11eb-8a9d-a16429030823.PNG)
When I want to a date and time I get the tool that helps me select the date and time but on top of that chrome shows the autocomplete field which shows dates and times I've already added which is not useful at all.

This is easily fixed by adding autocomplete="off" to the form. Aut

[2021-06-03 14:56] cdubz commented on #224
Thanks for the information. Happy to take a PR for this -- otherwise I'll be working through some Baby Buddy backlog soon and can tackle.

There are probably also other areas where we could take better advantage of more fine-tuned autocomplete settings on fields.

[2021-06-05 16:56] philip-n commented on #186
*This is rather vaguely related, but I figured I'd leave it here for others with a similar problem*

I wanted to host babybuddy as one among many on a small homeserver and stumbled upon similar problems.

What seems to work is:
* have BabyBuddy listening on some port, let's say `4242`
* use a reverse proxy with a ruleset that strips the subfolder name and adds the port `4242`

So the user can init

[2021-06-08 04:11] cdubz commented on #224
Actually @svenvdmeer could you tell me more about how to reproduce this? E.g. what version of Baby Buddy and what browser/device/OS you are using? I forgot about this but fields using the datetime picker are configured to be read only and should not be doing any sort of autofill. E.g. here is how this looks for me --

![image](https://user-images.githubusercontent.com/10456740/121121657-d8400300-c

[2021-06-11 02:54] ntrecina commented on #224
@cdubz I'm able to duplicate this issue on the latest master. I first noticed it when upgrading to `v1.5.1` and I ended up rolling back to `v1.5.0`. I've duplicated it in Chrome, Edge, and Firefox all on MacOS. I dug into it a bit and it seems like it's an issue with the date picker component that's causing the readonly attribute to be removed.

[2021-06-11 08:57] svenvdmeer commented on #224
I have v1.6.0 installed
[image: image.png]
In a docker container on a Synology Nas.

Im accessing baby buddy with chrome on windows and Android (oneplus 7 pro).
Having this issue on both and also on my wifes android phone (oneplus 6).

At first when I add a feeding, the start time field is empty, the end time
is pre-filled:
[image: image.png]
When I click on the start time field the date/time pick

[2021-06-16 10:33] JeanFred commented on #224
I have been struggling with this as well (on Firefox for Android and Chrome for Android)

For me it started after I upgraded babybuddy (can’t remember which hashes though) *and* I switched to 24h format (#148). I see that @svenvdmeer also uses 24h format so maybe that’s the reason.

[2021-06-16 10:39] JeanFred commented on #218
Yeah, I would have loved something like the visualisation done at https://web.archive.org/web/20170724003103/https://www.pagerduty.com/blog/babyduty/ − https://www.pagerduty.com/wp-content/uploads/2017/06/babyduty_timeline.png :) (The sleep patterns graph comes close, but not quite).

[2021-06-16 13:13] cdubz commented on #224
Ok -- I can reproduce this as well now in Firefox Nightly on Ubuntu 20.04. Seems to be inconsistent between systems... I'll try to look at this soon.

[2021-06-16 16:10] cdubz commented on #224
And not inconsistent between systems -- I think I just had trouble reproducing because of browser caches 🤦

[2021-06-18 13:10] oomb opened #226 "Potential security issue"
Hi there,

A potential security issue was identified in this project and has been reported to you through huntr.dev. Please find a detailed report of the vulnerability [here](https://huntr.dev/bounties/1-babybuddy/babybuddy).

The link is private, and will be only accessible to the project maintainers. Feel free to mark the report as valid, if you find it is.

Thanks!

[2021-06-18 13:22] cdubz commented on #226
:wave:  @oomb -- thanks for the report. I have never used huntr before and can't seem to get it to recognize me as the maintainer to confirm. I authed with GH but still see the "If you're the maintainer, login to view the report." and if I click it it just dead ends on a black screen.

[2021-06-18 13:44] JamieSlome commented on #226
@cdubz - you should now have access to the report!

Apologies for that! ❤️

[2021-06-18 15:33] cdubz commented on #226
Thanks @oomb and @JamieSlome -- POC works as described and I have marked this issue as valid.

[2021-06-18 15:39] JamieSlome commented on #226
@cdubz - no worries, feel free to confirm a fix once you feel the vuln is patched!

[2021-06-19 21:17] #192 closed

[2021-06-19 22:23] cdubz commented on #224
I have pushed a2da7e32f94bb4b34f547cf9abc53db8003f4455 to disable autocomplete on the datetime picker fields. However, the actual issue is that the `readonly` property on those fields is being stripped when the datetime picker initializes. I haven't been able to figure out if this is an issue with jQuery, Bootstrap, or Tempus Dominus updates as reverting to previous versions of those libraries sti

[2021-06-20 13:53] #205 closed

[2021-06-22 19:49] cdubz commented on #199
@markus-seidl another thing to try -- LSIO has put together a new image build process for Baby Buddy that includes ARM builds. After some testing and documentation adjustments I intend to make this the "official" way to use Baby Buddy with Docker: https://github.com/linuxserver/docker-babybuddy

[2021-06-23 14:36] #226 closed

[2021-06-25 11:15] lutzky opened #227 "`WORKER TIMEOUT` on Docker 20.x"
1. Starting with the sample `docker-compose` files (either sqlite or postgres), set any `SECRET_KEY` and set `ALLOWED_HOSTS=*` (the latter is only required for gitpod, see below, but left here for consistency).
2. `docker-compose up`
3. Point the browser at the babybuddy instance, at the login page (or any other page) hit refresh 3-4 times. Most of the time it'll be sub-second latency, but occasio

[2021-06-25 11:18] lutzky commented on #227
As to "why would the docker version be relevant":

* benoitc/gunicorn#1801 sounds similar and seems to indicate that this might be some kind of weird worker-tmp-dir handling
* Running `docker exec -it babybuddyapp ls -l /proc/${PID_OF_THE_WORKER}/fd` always shows a *deleted* `/tmp/wgunicorn-XXXXXXXX` file. That sounds like something that might confuse docker, or change behavior between docker vers

[2021-06-25 16:09] cdubz commented on #227
One recommendation coming from LSIO Discord -- [waitress](https://github.com/Pylons/waitress) as a potential replacement for gunicorn if there is no clear solution here. I can't seem to dig up any more useful information than the previously referenced issue.

[2021-06-25 17:46] lutzky commented on #227
FWIW, adding `-k gthread` completely changes the performance characteristics; refreshing the same page is now consistently fast, but it seems that anything that has to access the DB (even for reading, e.g. logging in) is quite slow. The `WORKER TIMEOUT` message no longer appears (even with the requests that take a long time). The guess came from https://github.com/kentik/sla_dashboard_webapp/pull/

[2021-06-25 17:52] cdubz commented on #227
@lutzky interesting... that leads to some other potentially relevant information:

- [Configuring Gunicorn for Docker](https://pythonspeed.com/articles/gunicorn-in-docker/)
- GIScience/openpoiservice/issues/30

[2021-06-25 18:02] lutzky commented on #227
That's the ticket! The parameters from that first link make it consistently fast on all actions.

[2021-06-25 18:11] cdubz commented on #227
Yay! @lutzky would you be willing to open a PR to add the changes to the example compose files? I think that's all that is needed here...

[2021-06-25 18:56] lutzky commented on #227
Presumably the LSIO version will need similar modifications.

[2021-06-25 19:18] #227 closed

[2021-06-26 18:48] lutzky opened #229 "Mobile UI Tweaks"
Looking to use babybuddy instead of our current tracking app, I noticed a few things that I *think* are low-hanging fruit for UI cleanup, pertaining mostly to phone usability. (I'm making it a checklist here in hopes of it being a [newfangled task-list thing](https://docs.github.com/en/issues/tracking-your-work-with-issues/about-task-lists#about-issue-task-lists); ideally the owner would turn thei

[2021-06-26 18:49] lutzky opened #230 "Dashboard: Move "Last Diaper Change" to near-top"

[2021-06-26 18:49] lutzky commented on #230
err, opened accidentally; please see #229 for full list of suggestions. (leaving open in case the owner selects this improvement)

[2021-06-26 19:07] BenjaminHae commented on #229
This was already implemented as part of #213, #215 additionally adds an option to hide old data.

[2021-06-30 23:51] ntrecina commented on #224
@cdubz I looked into this a bit more and I think I narrowed it down to the version change with Tempus Dominus. I reverted the versions back to the previous versions and tried it out locally and the readonly issues appear to be fixed. These are the versions I set in `package.json`:
[code]

[2021-07-02 03:35] cdubz commented on #224
Thanks @ntrecina! I thought I tested that but maybe I missed it...

I wish I could find a replacement for Tempus Dominus. It seems such a mess but nothing has quite the same level of features that are really useful for this app. Sigh...

[2021-07-02 03:38] cdubz opened #231 "Don't hide Submit button below optional fields"

[2021-07-02 03:39] cdubz opened #232 "Move Time column to be first in list view"

[2021-07-02 03:39] cdubz opened #233 "Hide Child column if only one child is shown"

[2021-07-02 03:40] cdubz opened #234 "Links from dashboard"

[2021-07-02 03:51] cdubz commented on #229
👋 @lutzky. Thanks for these recommendation. UI/UX has never been my thing so I'm always happy to get ideas like this. I have converted a few that are clear enough to issues and have some questions about others:

I'm not totally sold on this. I've always liked the current time format as being very clear and easy to parse. I.e. there is no need to understand or learn that "02:45" translates to "2 ho

[2021-07-02 12:06] lutzky commented on #229
Happy to help, thanks for reading!

Oh, that's not quite what I meant; see the mockup picture I attached in the first post. That being said, the opposite format of "2 hours, 45 minutes (11:23pm)" would also work fine.

The current column order in the Changes view is "child, wet, solid, color, amount, time, actions". I propose "time, child, wet, solid, color, amount, actions". The last few columns

[2021-07-02 15:06] cdubz commented on #229
@lutzky OK I got ya now. I was thinking about the data entry screens and not the list screens. Those horizontal scroll recommendations all make sense.

Ok I think I follow now. Still not sure if I like the idea. I'd need to see it implemented at higher fidelity I think.

So there is a "timeline" view currently on the child page but its not really discoverable (and kind of dated). From the child da

[2021-07-02 15:06] cdubz opened #235 "Unify "wet" and "solid" columns to a quad-state in list view"
(e.g. `{"✖️", "💩", "💦", "💩💦" }`

[2021-07-02 15:07] cdubz opened #236 "Move Color and Amount columns to far right in list view"

[2021-07-02 15:07] cdubz opened #237 "Use shorter timestamp formats in list view"

[2021-07-02 15:08] cdubz commented on #232
See also #237.

[2021-07-02 16:13] lutzky commented on #229
Huh, thanks! That timeline view is pretty much exactly what I want (and, heh, shows both time-ago and absolute-time). I did find it, but it's not working for me for some reason (it has basically `<ul class="timeline m-auto"></ul>` where the demo instance has all of the entries; separate issue, I'll debug it). I have additional tweak suggestions for it (also presented in checklist form for easy con

[2021-07-02 16:38] lutzky opened #238 "`pipenv install` fails because of psycopg2"
When running `pipenv install --three -v`, I get:

[code]

This is on Ubuntu 20.04.2. I find it surprising that this occurs, as it's the `psycopg2-binary` package that's listed in the first place. Commenting out `psycopg2-binary = "*"` in `Pipfile` works around the problem (I'll soon check if I can run it in sqlite-only mode this way, as the changes I'm interested in making are visual only). Howeve

[2021-07-02 16:43] cdubz commented on #238
Argh. The psycopg2 stuff has always been a PITA. I'll see if I can reproduce sometime soon. The dev environment for Baby Buddy is pretty dated at this point -- it really needs its own overhaul.

[2021-07-02 17:54] BenjaminHae commented on #211
I've "fixed" it.

We started tracking sleep on the day daylight saving time ended. I've remove all entries of that day, now sleep pattern works as expected.

[2021-07-02 18:16] cdubz commented on #211
Glad you were able to work it out. Sorry that I haven't a chance to dig in on this yet. At this rate I'll be to the DST change before I really look at it 😭

[2021-07-02 19:16] lutzky commented on #229
Alright, finally got a local dev env set up, #239 should help resolve whether it's a good idea or not.

[2021-07-03 20:17] ntrecina commented on #224
@cdubz No problem! Let me know if you're ok with reverting to that version I can get a PR up with the change.

[2021-07-04 21:07] cdubz commented on #224
@ntrecina yep, absolutely. Would appreciate a PR.

[2021-07-05 19:45] cdubz commented on #229
Alright, I'm on board with that one :+1:

[2021-07-05 19:52] cdubz commented on #229
Also all the timeline view recommendations make sense to me. That's now a fancy task list though :D

[2021-07-05 21:29] cdubz commented on #238
@lutzky you eventually got yourself setup -- did you identify any other issue with the process? I just walk through the development install steps on a fresh Ubuntu 20.04 image and didn't hit this snag. Are you able to reproduce or provide steps to reproduce?

[2021-07-06 04:08] #224 closed

[2021-07-06 04:12] #199 closed

[2021-07-06 17:14] lutzky commented on #238
This happens on a fresh Ubuntu 20.04 image in VirtualBox (as well as on WSL, which I suspected to be the culprit, but isn't). Indeed, on gitpod it doesn't happen, and indeed `pg_config` is available. It isn't installed in Ubuntu by default. Running `sudo apt install libpq-dev` does fix the problem (I was hesitant to do so because I thought it installs all of postgresql; it doesn't seem to). Maybe

[2021-07-06 17:30] cdubz commented on #238
Hm OK. I'll give it a try in VirtualBox soon -- are you using the Ubuntu desktop or server variant when testing? I tested yesterday (without issue) by just spinning up an instance in Digital Ocean using Ubuntu 20.04 (assume server).

[2021-07-06 17:49] cdubz commented on #238
Also FTR I just tested on a fresh Debian 10.10 install (because I happened to have that in VirtualBox already) and could not reproduce (i.e. was able to get the pipenv environment up and running). No `pg_config` present on the system.

[2021-07-06 19:23] lutzky commented on #238
Very odd. I guess that the `-binary` package tries to find an appropriate prebuilt binary and, failing that, tries to build from source?
Indeed I'm not using the Ubuntu Server variant.

[2021-07-06 20:00] cdubz commented on #238
Ah yeah, I guess that makes sense. In that case it seems like if `libpq-dev` is lightweight there is no reason not to add it to the install steps.

[2021-07-06 20:42] #238 closed

[2021-07-07 10:01] JeanFred commented on #238
Sounds like a pip issue, per https://github.com/psycopg/psycopg2/issues/699#issuecomment-377188700 ?

[2021-07-07 13:55] lutzky commented on #238
Ah indeed, I'm on pip 20.0.2, and it appears this was added in pip 20.3?

[2021-07-09 14:50] #230 closed

[2021-07-09 18:35] Luzr opened #252 "Upgrade from 1.41"
Hi,

What is the best way to upgrade from 1.41?

[2021-07-09 18:59] cdubz commented on #252
@Luzr how did you deploy the app? There are no major breaking changes between 1.4.1 and the latest release so upgrading should be straightforward.

[2021-07-09 20:01] Luzr commented on #252
Thanks for the reply. I used the Docker Image.

[2021-07-09 21:33] cdubz commented on #252
@Luzr I recommend hoping on gitter and asking there. A number of Docker users are in that channel and may be able to help better with your specific setup.

https://gitter.im/babybuddy/Lobby

[2021-07-10 02:32] #232 closed

[2021-07-10 20:50] lutzky opened #253 "Force periodic refresh for always-on-devices"
Using an always-on device, the browser never has a "got focus" event; however, the browser does support refresh-on-focus, so there is currently no way to force a refresh.

Proposal: Replace the text "This setting will only be used when a browser does not support refresh on focus" with a checkbox (off-by-default) "Force refreshes even if browser supports refresh-on-focus".

[2021-07-14 03:30] cdubz commented on #253
This makes sense to me. I don't think we need to be too verbose here though -- let's change just change the field text to "Supported browsers will also refresh on focus."

And for the code change let's change the logic to check _for_ support (as opposed to lack of support) and add the focus handler and always add the refresh rate interval (if set). This should make the logic in there a little simp

[2021-07-14 12:15] lutzky commented on #253
So this is pretty much https://github.com/lutzky/babybuddy/commit/acd8f9011c9fc95378d18f2887c96504816f4897, I figured I'd test it out before sending a PR. Seems to work well.

[2021-07-14 16:48] lutzky commented on #253
Went ahead and made a pull request of it, after confirming that it's working well.

[2021-07-20 02:52] #253 closed

[2021-07-20 03:55] #231 closed

[2021-07-20 04:00] cdubz opened #256 "Re-enable Python cache in CI"
This was disabled due to issues with Pipenv and cache interactions causing the Python executable to not work.

For a potential workaround see https://github.com/pypa/pipenv/issues/4586#issuecomment-807695864

[2021-07-30 12:38] Ulrar opened #258 "Selection not working on Firefox Android"
Hi,

When using Firefox on Android the selection buttons like Wet / Solid in diaper change do not work. They outline white on selection but submitting returns an error saying neither were selected.
Chrome Android does work fine with the buttons turning white on selection.

Thanks

[2021-07-30 13:16] cdubz commented on #258
Thanks for reporting! I think I have an Android device around somewhere so I’ll see if I can dig it up and reproduce. Otherwise help from Android users would be appreciated here (:

[2021-07-31 20:57] #252 closed

[2021-08-01 11:42] #237 closed

[2021-08-01 21:26] cdubz commented on #258
@Ulrar could you provide some more details about the configuration you experience this issue with? I just tested with Firefox 90.1.3 (latest) on Android (Lineage 18.1) and couldn’t replicate.

[2021-08-01 21:48] Ulrar commented on #258
Hi @cdubz,

Not sure what details I can give, I'm using a Samsung Galaxy S21 Ultra but I don't imagine that matters. Firefox 90.1.2 on Android 11.
The app is running on docker using the linuxserver container.

Here's a screenshot, I've "selected" wet in this one, as you can see it's only outlined instead of actually selected and if I submit it tells me I need to select wet or solid. Of course I us

[2021-08-02 01:38] cdubz commented on #258
Hm ok. And what version of Baby Buddy? 1.7.0 or something else?

[2021-08-02 07:19] Ulrar commented on #258
Aug 2, 2021 02:38:12 Christopher Charbonneau Wells ***@***.***>:

I'm using latest, seems to be 1.7.0 according to the hamburger menu yep

[2021-08-03 04:57] jbg opened #263 "Start / finish times are treated as inclusive-at-both-ends ranges rather than standard half-open ranges"
Entering a breastfeeding session like this:

left breast 01:00-01:15
right breast 01:15-01:30

is intuitive, but fails due to "overlap".

Really there is no overlap – ranges should probably be treated as standard form (inclusive at the start and exclusive at the end), like the default behaviour of the `tsrange` type in Postgres and other databases, and the range type in most programming languages.

[2021-08-03 11:38] cdubz commented on #263
Makes sense. Happy to take a PR to address this or I’ll get to looking at it at some point.

[2021-08-03 14:04] mnoah66 commented on #219
Hi @cdubz,
I am having a similar issue with Heroku where django_session fills up with a lot of session_keys.  I am making API calls to my Heroku instance every 15 seconds or so (from Home Assistant).

I ran `python manage.py clearsessions` and truncated that table with pgAdmin.  It has already filled up with 2,000+ rows in about an hour afterwards.

![image](https://user-images.githubusercontent.c

[2021-08-03 14:52] cdubz commented on #219
Damn was really hoping that was a one-off freak accident thing (: We'll have to do some more digging on this, any help would be appreciated. I'm curious if this some (known or unknown) Django+Heroku or Django+Postgres bug.

@mnoah66 your screenshot is tiny but those timestamps look like the sessions are being created multiple times _per second_ so this doesn't seem like API activity. Anything else

[2021-08-03 14:57] Dza-byte commented on #219
I initially had the home assistant addon as well.  I think the problem may lie with the way it's calling the api.  Since removing it things have been fine, the home assistant link was not essential for me

[2021-08-03 14:58] cdubz commented on #219
Ah good to know -- thanks @Dza-byte! That may help me figure out some way to reproduce...

[2021-08-03 15:07] mnoah66 commented on #219
Nothing was modified. Just the click-to-deploy button.

No browser, just via the [baby_buddy_homeassistant](https://github.com/jcgoette/baby_buddy_homeassistant) add-on. It looks like the relevant code is in [sensor.py](https://github.com/jcgoette/baby_buddy_homeassistant/blob/main/custom_components/babybuddy/sensor.py).

Still kind of new to all of this.  Maybe the add-on is programmatically crea

[2021-08-03 15:13] cdubz commented on #219
Ok, cool. This is at least some lead (: I've got lots of pis lying around so I'll need to dust one off and put HA on it for testing. My understanding is that API calls really should not be creating sessions because they use token authentication but maybe something is misconfigured somewhere...

FYI @jcgoette if you have any thoughts/input on this thread.

[2021-08-03 15:20] mnoah66 commented on #219
Thanks @cdubz.  I removed the Home Assistant add-on by @jcgoette and it is no longer creating a ton of session_keys.

[2021-08-03 15:30] jcgoette commented on #219
Thanks for pinging me on this.

I don't know anything about Heroku, but I'm guessing the issue may be [in this portion of my code.](https://github.com/jcgoette/baby_buddy_homeassistant/blob/b4d69328b5c8eb462e10f435466cbf8bca17576a/custom_components/babybuddy/sensor.py#L317-L321)

This was one of my first "real" projects, so probably some bad code created here.

I'm thinking moving the session call

[2021-08-04 02:17] #235 closed

[2021-08-04 02:29] cdubz opened #265 "Mobile submit button prevents date selection in some circumstances"
The date time select should hover over the submit button. Example:

![D7A8C7D4-C4D6-4723-A0FF-1D9EB40E7832](https://user-images.githubusercontent.com/10456740/128112233-41359fa9-72ed-4352-813c-340420036df2.png)

[2021-08-04 02:49] jcgoette commented on #219
I created jcgoette/baby_buddy_homeassistant#29, but since the reporters are here...

@Dza-byte or @mnoah66, would you be willing to reactivate and update baby_buddy_homeassistant to [v1.3.4](jcgoette/baby_buddy_homeassistant/releases/tag/v1.3.4) and see if that solves this issue?

[2021-08-04 03:25] Dza-byte commented on #219
Updated and rebooted.  I'll post back if the issue comes back in the next day or two

[2021-08-04 12:40] mnoah66 commented on #219
Some improvement but in the last hour or so it has created ~400 session_keys (multiple w/in a second):

![image](https://user-images.githubusercontent.com/24765755/128181552-9ef79434-10be-41ca-bb8a-c073d732235c.png)

Also, looking at my Heroku logs.  Looks like the same calls are being duplicated.  I only have `changes` and `feedings` in my sensor configuration.  It looks like it is calling the AP

[2021-08-04 12:55] mnoah66 commented on #219
After adding a test child (IDs of 3 and 4) the sequence of APIs are now being called 4x.

![image](https://user-images.githubusercontent.com/24765755/128184300-4904e07b-b22e-40fc-8c0c-a896d75938d4.png)

[2021-08-04 12:57] jcgoette commented on #219
@cdubz, do you know if its possible/how to access the django_session table while using Django's development server (i.e. gulp)? Or do I need to try and spin up a Heroku instance?

@mnoah66, re: redirects, I opened https://github.com/jcgoette/baby_buddy_homeassistant/issues/31.

Reducing API calls is also on my todo list: https://github.com/jcgoette/baby_buddy_homeassistant/issues/26.

I am fine wi

[2021-08-04 13:12] cdubz commented on #219
@jcgoette you should definitely be able to see a django_sessions table in any concert, including running the dev server with gulp. Just use whatever database interface you want for the storage engine you’re using.

[2021-08-04 13:14] jcgoette commented on #219
@cdubz, thanks! Feel free to close this issue for now. If I _somehow_ find it's an issue with babybuddy itself, I will ping you in Gitter.

[2021-08-04 13:23] cdubz commented on #219
Thanks all for your efforts looking in to this!

[2021-08-04 13:23] #219 closed

[2021-08-04 15:03] lutzky opened #266 "Timeline: For feedings, show time-since-feeding-before"

[2021-08-04 15:47] #233 closed

[2021-08-04 21:23] #234 closed

[2021-08-04 21:59] #236 closed

[2021-08-04 22:32] lutzky commented on #229
Alright, that's 17 of 20 tasks, and 100% of the "converted to task" ones. How do you feel about the remaining ones?

[2021-08-04 22:34] cdubz commented on #229
@lutzky they all sound good to me. The timeline is sort of a forgotten feature so I'm very open to changes and improvements there.

[2021-08-04 22:36] lutzky commented on #229
Cool! (That's odd to hear, I find it extremely useful). Would you be so kind as to hit the "convert to issue" button on them? I can't seem to, I think it's a weird ACL thing.

[2021-08-04 22:39] cdubz opened #270 "Improve cross-midnight timeline view"

[2021-08-04 22:39] cdubz opened #271 "Add prominent link to timeline view from dashboard"

[2021-08-04 22:39] cdubz opened #272 "Timeline view: Activities should include their notes (or at least mark activities that have notes)"

[2021-08-04 22:40] cdubz commented on #229
Hopefully #270 will increase its visibility (:

[2021-08-05 13:40] cdubz commented on #219
@jcgoette @Dza-byte @mnoah66 turns out this was an issue with Baby Buddy's custom middleware! Fixed in f29269869c09b9b60de037d989479b3a8c8efe1b and will make a new release later today.

[2021-08-05 18:48] BenjaminHae opened #273 "docker configured with postgres uses sqlite3"
With the docker image ghcr.io/linuxserver/babybuddy, usage of postgres as database does not work by setting the environment variables, babybuddy still writes data to the sqlite3 database.

I've previously set up babybuddy with postgres using docker-compose:
[code]
Now I've changed that to use the new image from linuxservers:
[code]

I've observed that nothing is written to the postgres database:
[

[2021-08-05 19:24] cdubz commented on #273
@BenjaminHae thanks for raising. It looks like this happens because the LSIO image [`run` file](https://github.com/linuxserver/docker-babybuddy/blob/811aea30927eac442b36166ac2bfa583479b4d0d/root/etc/services.d/babybuddy/run) uses [`base.py`](https://github.com/babybuddy/babybuddy/blob/4c9848ec4e1d52321dd69e4b8a1d02c29ac8e064/babybuddy/settings/base.py) for settings and that base settings file does

[2021-08-05 19:48] mnoah66 commented on #219
Fantastic, thanks!  Do you know if Heroku will pull the release automatically from this repo?  Or do I need to re-deploy with the Heroku button (after the new release, ofc)?  I would prefer to run locally on a Pi but couldn't get it figured out as I am not too familiar with Docker yet.

[2021-08-05 19:52] cdubz commented on #219
@mnoah66 you'll have to redploy. I'm not 100% clear on how that works though... for the Herko-hosted demo I have Heroku's CLI and the instance added as a remote so I can just `git push heroku` from my local repo. But I wonder if you can get the same result without to checkout the code and go through the Heroku CLI and remote setup...

[2021-08-05 20:29] Xe138 opened #274 "v1.8 shorter timestamps using UTC time"
The v1.8 shorter timestamps in the list views are showing the UTC time of the entries rather than the local time.  The entries are correctly using local time.

Feeding Entry:
![image](https://user-images.githubusercontent.com/50377201/128416545-83d093f5-f1f0-46e2-a08d-93a99af575f4.png)

Feeding List:
![image](https://user-images.githubusercontent.com/50377201/128416600-d9a1d40d-b6ad-4957-8f52-6c88

[2021-08-05 20:33] mnoah66 commented on #219
@cdubz tried the button and it just wanted to create a brand new app in Heroku. So went with the CLI and worked like a charm.  Thanks again

[2021-08-05 20:43] cdubz commented on #274
Damn. Thanks for reporting. I always manage to mess up _something_ when dealing with localization (:

Will try to get a quick fix for this.

[2021-08-06 08:26] AhmetCelikbasBMX commented on #274
Hi @cdubz, Thanks for your support !

I'm also affected by this issue (First line was set to 9:45am but showing 7:45am).

I also got other localisation/translation issues when i put the language to French :
![image](https://user-images.githubusercontent.com/70146550/128480212-3474dd97-bc96-4e25-8e87-11a720ef1b16.png)

Here is the same page when i choose English language :
![image](https://user-ima

[2021-08-06 12:10] cdubz opened #276 "List time stamps localization bug"
I also got other localisation/translation issues when i put the language to French :
![image](https://user-images.githubusercontent.com/70146550/128480212-3474dd97-bc96-4e25-8e87-11a720ef1b16.png)

Here is the same page when i choose English language :
![image](https://user-images.githubusercontent.com/70146550/128480810-93430c11-873e-4331-80c7-6179933a7d63.png)

i have the same issue on all other

[2021-08-06 12:12] cdubz commented on #276
Very weird. I did test this is in a couple other locales when working on the feature but I must have missed something. I’ll take a look away this soon. I’ll roll that change back in a new release if I can’t get it sorted quickly.

[2021-08-06 14:58] lutzky commented on #271
Added a couple of proposals, WDYT?

[2021-08-06 15:55] #276 closed

[2021-08-06 15:55] #273 closed

[2021-08-06 15:55] #274 closed

[2021-08-06 21:28] cdubz opened #279 "Default SQLite DB behavior broken in v1.8.1"
Changes in #273 broke the default behavior for using SQLite as the database backend. The database config dict must include a `NAME` key with the location of the SQLite database file.

[2021-08-06 21:28] #279 closed

[2021-08-06 21:33] Aohzan commented on #273
for those who have db connection broken,
[code]

[2021-08-06 21:35] cdubz commented on #273
Thanks @Aohzan. Sorry for the trouble :grimacing:

[2021-08-06 21:37] Aohzan commented on #273
No problem :grinning: I didn't see that I had a 800 MB sqlite3 file :thinking:

[2021-08-06 21:41] cdubz commented on #273
@Aohzan do you use the API? Could be related to #219. If so running `python3 /app/babybuddy/manage.py clearsessions` may free up some space (and will log out any open sessions, just FTR).

[2021-08-06 21:42] Aohzan commented on #273
indeed, thanks for the tip

[2021-08-08 03:19] cdubz commented on #271
@lutzky both PRs need static files updated. Sorry 😬

[2021-08-08 03:24] #266 closed

[2021-08-08 14:40] lutzky commented on #271
:facepalm: done

[2021-08-09 13:12] cdubz commented on #271
@lutzky I’m on the fence here. I have one primary concern for each proposal —

#277 looks nice but I think the card needs to have some information or else it’s kind of weird as part of the dashboard (which is meant to quickly show information). Maybe it’s content could be the last event of any type for the child?

#278 might be a little complicated to wire up (getting child context in menu) and co

[2021-08-09 15:00] lutzky commented on #271
I think that the complication of #278 makes it not worth it for such a small cosmetic change (I thought I was missing something obvious), when we have a simpler alternative like #277.

As for #277, my concern is that it takes up too much above-the-fold space; previewing the demo in "iPhone X 375x812" layout makes it push the "Today's Feeding" content below the fold. Adding details to the card woul

[2021-08-09 15:23] cdubz commented on #271
Is the last card prominent enough though? I like the idea of making this much more prominent particularly since you've been making so many positive changes to the timeline recently. But maybe the bottom make the most sense for now. I really need to get to #34 some day.

[2021-08-09 19:59] lutzky commented on #271
I guess it wouldn't be prominent enough :/
Then again, top seems... *too* prominent?

How about a whole different direction:

![Screenshot from 2021-08-09 20-58-31](https://user-images.githubusercontent.com/8140/128766624-a5d25781-f04d-460c-b14d-dca895e93604.png)

That is, just adding the `icon-history` bit to the breadcrumb.

[2021-08-09 22:14] cdubz commented on #271
I don't think that does enough either. Although it does highlight the fact that we already have a quick link directly to the timeline right at the top (by clicking the child's name). I honestly kind of forgot that myself lol. I really think #278 is the way to go despite the additional complexity.

[2021-08-10 21:57] lutzky commented on #270
Moving the description from #229 here for further discussion:

Use case: My "baby shift" is 8PM-2AM, and my partner would like to easily see what happened in the late evening. However, currently the timeline view is hard-split at midnight. So, for instance, scrolling to the bottom and seeing no previous events can be a bit jarring.

Turns out it's not that big of a problem, as it's only particular

[2021-08-10 22:51] cdubz commented on #270
How about a "Show yesterday" link at the bottom that just loads the page for yesterday (i.e. does the same thing as the "back" navigation) at the top? Low effort and gets the desired effect without much complexity.

[2021-08-10 22:58] lutzky commented on #270
Sure; do you like that better than "copy the day navigation links from the top of the timeline view to the bottom"?

[2021-08-10 23:12] cdubz commented on #270
Yes but maybe that would also work as long the date is also at the bottom for context.

[2021-08-11 13:11] #272 closed

[2021-08-11 21:29] lutzky commented on #229
Damn, marked wrong issue as fixed by #281. It actually closes #270, not this.

[2021-08-11 21:31] cdubz commented on #229
Oops! I noticed that but forgot to address.

[2021-08-11 21:31] #270 closed

[2021-08-11 21:33] lutzky commented on #271
Alright then, I'd appreciate some help with this one; I'm not familiar enough with django to easily find a quick way to wire everything neatly. (...and it is the last blocker for #229!)

[2021-08-11 21:37] cdubz commented on #271
Yeah, it's on my radar but won't get to it until after next week due to travel.

[2021-08-17 12:59] #263 closed

[2021-08-17 13:02] cdubz commented on #263
@jbg FYI this behavior is changed in `master`. I ended up making the check exclusive at both ends because I didn't feel like half-open ranges made sense (or I didn't understand the difference well enough). Interested to know if you have any feedback on that -- i.e. can you think of a example that shows a relevant difference between half-open ranges and exclusive at both ends?

[2021-08-17 13:08] jbg commented on #263
Half-open ranges are quite standard, because they mean that ranges that follow each other don't have infinitesimal gaps between them:

01:00:00-01:15:00
01:15:00-01:20:00

Most people would say that a) there's no gap between those, and b) they don't overlap. With open-at-both-ends ranges, there's a gap between them, and with closed-at-both-ends ranges, they overlap.

It also means the duration of

[2021-08-17 13:24] cdubz commented on #263
Ok. I think I get it. I don’t believe the distinction is relevant for the intersection “check” that prevents the entry in your example but would be for dealing with durations and continuity of entries (for example). Not sure if further changes are needed for those scenarios but can keep an eye out.

[2021-08-19 20:53] fodi666 opened #283 "Sleep graph issues"
- [x] #286
- [x] #287
- [x] #288
- [x] #289
- [x] #290

--

Hi,
I have found that the sleep pattern plot is misaligned. I attach an image with the problem.
![newplot](https://user-images.githubusercontent.com/1128180/130141653-02077737-1ea5-439f-8ed0-bcba164a3ff1.png)

The first column is supposed to be 17 August while the second column of sleep entry is today (19 August), with no entries from 18

[2021-08-20 07:34] Expro opened #284 "Allow manual editting of datetime values"
Please restore ability to correct time entry from keyboard by deleting and writing down numbers, instead of several clicks through GUI. Baby can be demanding and requiring attention, so slowing down ability to add correct entry is unwelcome.

[2021-08-21 12:54] cdubz commented on #283
Hm yeah... I'm guessing that somewhere along the line we assume that entries for the sleep pattern graph do not have any gaps. That's definitely a bug of some sort.

@fodi666 re: the other parts of your comments on weird x-axis representation and inverting to y-axis -- I'm not totally clear what the ask/desired functionality is. Could you clarify? Or maybe rough up an example graph of what you are

[2021-08-21 12:57] cdubz commented on #284
@Expro this is actually intentional and the previous behavior was treated as bug (see #224 and comments). Are you saying to prefer to be able to click in to the date/time field and manually change the text after making a selection with the date picker? If so, why? Just wondering if there is also a datepicker UX issue to be considered here.

[2021-08-21 15:58] Expro commented on #284
This are scenarios where it comes handy:

- App was inaccessible for some reason, and I have noted time as text somewhere else. With date and time field as text field I can just dismiss datepicker and copy-paste in time. In newer version, I have to go through GUI and recreate time value, which is slower and less comfortable.
- I have started timer with some delay (usually with 2 / 3 minutes late,

[2021-08-21 17:01] fodi666 commented on #283
OK, so it seems that the missing day gets compensated once I had some more days added and now it honors the missing day correctly.
However, Aug 19 is still shifted, if you check the screenshot, the bottom sleep for Aug 19 is 1258 AM to 0350 AM, yet it is lined with a sleep from the other day at 1053 AM to 1230 PM. This for some reason stayed. I actually have a 24h setting with environmental variab

[2021-08-21 18:04] fodi666 commented on #283
So, in the meanwhile I poked around in my database and it looks like long gaps can mess up the pattern chart.
First I added a dummy 1-minute sleep (0:00:00 to 0:01:00) to Aug 18, and while this fixed the column of Aug 19, now this dummy sleep was shifted upwards. I saw that my Aug 17 is still missing some entries, and while I added them from our paper records, this shift began to decrease and once

[2021-08-21 18:26] cdubz commented on #284
Ok. That all makes sense. Interesting use case with speech text!

[2021-08-21 20:45] cdubz commented on #283
Ok, I think I've got you now. The tasks I think are --

- [ ] Sleep graph has incorrect positioning when there is a gap in days. (bugfix)
- [ ] Sleep graph uses 12h format when 24h is enabled. (bugfix)
- [ ] Graph x-axis date labels should not show times, only dates. (bugfix)
- [ ] Sleep graph y-axis should go "down" from midnight at the top. (enhancement)
- [ ] If there is only one sleep entry an

[2021-08-21 20:48] fodi666 commented on #283
yes, that's it I think
the 12-hour format occurs also on the y-axis labels and the priod (area) labels. If you need I can send you the exported data presented in comment 3.

[2021-08-21 20:50] cdubz commented on #283
It sounds like I should be able to repro easily enough when I get around to looking at this. But maybe keep a copy of the comment 3 DB in that state just in case (:

[2021-08-21 20:54] cdubz opened #286 "Sleep graph has incorrect positioning when there is a gap in days."

[2021-08-21 20:55] cdubz opened #287 "Sleep graph uses 12h format when 24h is enabled."

[2021-08-21 20:55] cdubz opened #288 "Graph x-axis date labels should not show times, only dates."

[2021-08-21 20:55] cdubz opened #289 "Sleep graph y-axis should go "down" from midnight at the top."

[2021-08-21 20:55] cdubz opened #290 "If there is only one sleep entry and it starts one day and ends the next day the sleep graph excepts."

[2021-08-21 22:09] Expro commented on #284
I think there is enough space even on mobile screens to layout with button for date picker, button for time picker and textbox with resulting date + time that is editable (without triggering pickers when focused). That would allow user to select if he wants to pick date, time, or edit it by hand.

[2021-08-21 22:13] cdubz commented on #284
Interesting idea. Not sure if the existing picker library BB uses supports that but I have also been looking for excuses to move away from it because it’s had lots of weird refactoring over the years. Though every time I have looked I haven’t really been able to find a comparatively good picker.

[2021-08-22 03:46] cdubz commented on #271
Alright this will be a bit complicated but I think it's worth it to make the timeline more of a first class citizen --

- [ ] Add new timeline view to core (similar to dashboard view -- redirects to child detail page for one child).
- [ ] Create handling for a multiple child timeline view (to create a central timeline when more than one child is present).
- [ ] Add timeline link to child button gr

[2021-08-24 16:39] jcgoette commented on #258
I am unable to replicate on with latest version of Firefox from Play Store and running 1.8.2 from LSIO.

![image](https://user-images.githubusercontent.com/53531335/130655634-f593b493-2a45-4733-8fa9-84522199f70d.png)

[2021-08-26 19:28] shlnz opened #293 "KeyError when generating graph for sleep pattern"
Greetings,

if I try to access `children/child-name/reports/sleep/pattern/`, the code crashes with a `KeyError` in `/app/babybuddy/reports/graphs/sleep_pattern.py, line 39, in sleep_pattern` while trying to access the key '2021-08-09' in the `times` variable. There is an entry in my database that starts on 2021-08-08 22:00 and ends on 2021-08-09 05:15 (24h format).
Content of `times` at the time i

[2021-08-27 16:49] lutzky opened #294 "Timer view should show today's totals"
The timer buttons should show the total-so-far for the buttons, see mockup below.

Usecase: Timer is open for feeding, baby seems not too keen. Turns out baby already ate a lot today, and it's fine. However, my tablet-in-the-livingroom-for-showing-babybuddy isn't showing me that, as the whole screen is used for the feeding timer.

Should be straightforward to implement, but I was looking to get yo

[2021-08-28 03:06] #293 closed

[2021-08-28 03:07] cdubz commented on #290
@fodi666 I wasn't actually able to reproduce this. I did just push a fix for #293 that seems like it would be related. Could you see if you can still repro?

[2021-08-28 03:09] cdubz commented on #294
Interesting... I like the idea but I wonder if total "amount" is the right context to give for feedings? Maybe it should be total feedings on the day? And I also kind of wonder if better context would be the _last_ occurrence of each event instead of day totals?

[2021-08-28 03:47] #288 closed

[2021-08-28 03:49] cdubz commented on #287
#288 makes this no longer relevant.

[2021-08-28 04:11] #265 closed

[2021-08-28 10:41] lutzky commented on #294
Hmm, for me the total was definitely the number I was interested in, but I can see how other people would want different numbers. How about something like this:

The information can definitely all fit there, if abbreviated, but I do wonder if there's a clearer abbreviation to be made. (I particularly wonder why Sleep is listed as 2**h** but Tummy Time is 8 **minutes** as opposed to 8**m**; this is

[2021-08-28 19:23] fodi666 commented on #290
I'll check it in 1.8.2 tonight and then update to 1.8.3 tomorrow and check again.

[2021-08-28 19:35] fodi666 commented on #290
@cdubz ,
finally I went to the database manager and did a test running 1.8.2: my entries start on the 17 Aug. So I added a sleep entry that starts 15 Aug 23:00 and ends 16 Aug 00:05. 16 Aug has no other sleep entries. Then I checked the sleep pattern and that's what I got:
`KeyError` at /children/bubu/reports/sleep/pattern/
'2021-08-16'
Request Method:	GET
Request URL:	http://homeassistant.local:4

[2021-08-28 19:39] cdubz commented on #290
@fodi666 OK I think that is fixed by #293. I had recorded this ticket as a different issue having to do with a use case of only one total sleep entry. Verify with 1.8.3 when you can and if that scenario you deceive is fixed I’ll close out this issue as well.

[2021-08-28 19:43] fodi666 commented on #290
I have pulled the 1.8.3 docker image and now it works fine, no keyerror

[2021-08-28 19:45] fodi666 commented on #287
This is still present on 1.8.3, unfortunately, both on the y-axis and both on the labels of the individual sleep sessions (see attached image).
![image](https://user-images.githubusercontent.com/1128180/131229203-ac0cb918-dff7-4ec1-97f7-e5574e4beb73.png)

[2021-08-28 19:54] #290 closed

[2021-08-28 19:55] cdubz commented on #287
Oh shoot I forgot about the data labels! I was only thinking about this for the x-axis labels.  Oops :grimacing:

[2021-08-28 19:57] fodi666 commented on #287
and don't forget the y-axis either ;)

[2021-08-28 19:58] cdubz commented on #287
Haha yes I see that, too.

[2021-08-28 19:59] cdubz commented on #294
Do you think it would like bad if we broke it in to two lines? That just feels like a lot of data to jam in to the button text on a single line.

[2021-08-28 20:02] lutzky commented on #294
Maybe. On phones, sure, I have plenty of vertical real estate remaining. However, on my tablet, there's actually a lot of unused *horizontal* space, but not so much vertical. So perhaps some CSS magic to split it neatly on narrow displays?

[2021-08-28 20:03] cdubz commented on #294
Ah yeah good point. Those buttons are looooong on desktop hah.

[2021-08-28 21:02] #287 closed

[2021-08-28 21:04] cdubz commented on #287
I address this in what I think is the "right" way (using locale-aware time formatting) but it has pretty interesting effect on 12-hour formatted strings --

![image](https://user-images.githubusercontent.com/10456740/131230934-5aa3bf96-bd78-4529-97df-94e456a4413a.png)

It was kind of jarring at first because the y-axis labels don't line up like they used but I'm not sure if I dislike that or its j

[2021-08-28 21:20] fodi666 commented on #287
that is nice and looks really nice on 24-h format, indeed
I copied manually the change to my instance via docker bash and also added `layout_args['yaxis']['autorange'] = 'reversed'` around line 158, so now the timeline goes from up to down
![image](https://user-images.githubusercontent.com/1128180/131231246-5f4deb9b-6574-4708-8043-2e8c76115499.png)

[2021-08-28 21:36] cdubz commented on #287
Oh is it really that simple? Hah. Hadn’t looked at that ticket yet. The code for generating this graph is kind of bananas and I figured I’d have to refactor for that.

[2021-08-29 11:49] cdubz commented on #289
Closed by #295.

[2021-08-29 11:49] #289 closed

[2021-08-29 19:32] lutzky commented on #294
Alright, I'd need some guidance with this as I'm not experienced with django; how would I go about getting child data in `timer_detail.html`? (If you could point me to an existing place that does something similar in the code)

[2021-08-29 19:43] cdubz commented on #294
The timer object has a `child` key that you can use. It is set automatically if there is only one child in the DB but the default is `None` so that will need to be checked for.

[2021-08-29 23:36] ntrecina commented on #294
It seems like adding this info makes the screen really busy and it may or may not be useful considering that it's duplicated information from the dashboard. If it were to be implemented perhaps the info could be added behind a toggle of some kind (a tooltip or more details link) and hidden by default or maybe this feature could be disabled via a user setting.

[2021-08-29 23:43] cdubz commented on #294
Yeah I’m concerned about that as well @ntrecina. Interested to see how it looks before thinking about that though.

[2021-08-30 23:17] cdubz opened #296 "Add a gulp commend for font updates"
Part of #278 involved moving from Font Awesome to a Fontello-based icon font. There is a CLI tool that can be used in combination with the Fontello config file to easily build and download fonts when changes need to be made. We should add e.g. `gulp updatefont` or similar to automate the process build/download/copy to repo process.

[2021-08-31 10:47] lutzky opened #297 "Favicon is hard to see on dark backgrounds"
Switched my browser to a night-mode dark blue theme and... where did babybuddy go? Oh yeah, it's dark-blue-on-slightly-darker-blue. I don't have the know-how to do this neatly, especially with the smaller pixel sizes, but I'd advise:

* Easy, but would look very different: Make eyes, mouth and clock-hands white
* Hard, but would retain general aesthetic: Add a thin white border around the entire s

[2021-08-31 15:08] #271 closed

[2021-08-31 15:09] cdubz commented on #229
All done! Thanks @lutzky for all your feedback and ideas here. Lots of nice improvements and bug fixes out of this work!

[2021-08-31 15:09] #229 closed

[2021-08-31 15:14] cdubz opened #298 "Button group flex spacing is weird on smaller screens"
The buttons groups were updated as part of the work in #278 and are not a little janky on small screens (phones) --

![image](https://user-images.githubusercontent.com/10456740/131528772-072a3d54-e8d8-4f99-b234-6cf9c68c7f85.png)

I wonder if the delete and edit buttons are even really necessary here... an easy fix would be to just remove those two.

[2021-08-31 15:19] cdubz commented on #297
I think the favicon and icon both have too dark a color -- i.e. it has never been the "brand" color (which has no changed to be lighter as well). Can you add some screenshots of where you see it as bad now?

[2021-08-31 17:50] lutzky commented on #297
Sure. For the favicon, see if you can spot it here (using [this Chrome theme](https://chrome.google.com/webstore/detail/a-passion/elbejlmapdnkbjofccadjlkmcpggfclg)):

![Invisible](https://user-images.githubusercontent.com/8140/131551560-f73b00fe-013d-4c65-bfba-931db98d566a.png)

For the icon, frankly, right there in the header, the dark-blue-on-dark-grey seems low-contrast to me. Text is a slightl

[2021-08-31 19:19] lutzky commented on #297
Header I was talking about:

![Header](https://user-images.githubusercontent.com/8140/131562577-32ed6150-2b3f-40e2-a03a-2b0a10319814.png)

Note how the word "baby" is brighter than the icon. For the contrast between the icon and the background, we get a [constrast ratio of 1.4](https://webaim.org/resources/contrastchecker/?fcolor=07547D&bcolor=343A40) (same page explains that the recommendation is

[2021-08-31 19:27] cdubz commented on #297
Those blues are different because [you changed the blues](https://github.com/babybuddy/babybuddy/blame/f643ad7771108cad1c6a585033e3b41752954236/babybuddy/static_src/scss/themes/blueorange.scss#L7) 😛

If the icon used the _new_ blue would it be passable? Or do we really need to do more here? Also, FTR, I think the icon blue has never been right, hah.

I need to dig up the original icon files...

[2021-09-01 05:40] kejadlen opened #299 "iOS Shortcuts"
A few basic iOS shortcuts that can be used as templates if other people want to use Siri to add diaper changes and start/stop timers. I’ve only implemented the functionality I need, but putting them here for now so other people can pull them down and configure it for their own needs.

- [Add Diaper Change](https://www.icloud.com/shortcuts/10824127057043eeb7e1edc8fb7ad3e9)
- [Start Baby Buddy](http

[2021-09-01 11:13] cdubz commented on #299
Thanks for sharing, @kejadlen! I didn’t know you could do form POST operations like this with Shortcuts… it would be nice to have a full set of functionality available for this. I’ll probably play around with adding more at some point.

[2021-09-01 11:14] #299 closed

[2021-09-01 15:42] cdubz opened #301 "Remove `TIME_ZONE` environment variable configuration"
Per [discussion on Gitter](https://gitter.im/babybuddy/Lobby?at=612f887199b7d97528e7c48a) I don't think there a need any longer for the [`TIME_ZONE`](https://github.com/babybuddy/babybuddy#time_zone) environment variable because the application has per-user configurable time zones since [v1.4.0](https://github.com/babybuddy/babybuddy/releases/tag/v1.4.0). Having this in two places, both of which o

[2021-09-02 18:18] lutzky opened #302 "Buttons icon glyphs missing in time selector"
When clicking a time selector, e.g. in the "add activity" screen, the glyphs are missing - the buttons are functional, but have no icons on them. Presumably this has to do with the recent fontawesome transition.

[2021-09-02 18:25] cdubz commented on #302
Ah good catch. I didn't realize the picker relied on FA as well as BS. Will need to pull in the necessary icons in the fontello config...

[2021-09-02 19:15] lutzky commented on #302
See, this is why it's important to be able to easily run the equivalent of a nightly at home ^_^ (I have a modified version of the linuxserver docker build which builds straight from lutzky/babybuddy:master)

[2021-09-04 03:53] #284 closed

[2021-09-04 03:53] #296 closed

[2021-09-04 03:53] #302 closed

[2021-09-04 03:53] #298 closed

[2021-09-06 09:09] davbren opened #305 "All users lost"
I have the docker implementation of the latest version and I can reach the login page but there are no users, not even admin...

[2021-09-06 12:02] cdubz commented on #305
Hm. This happened after an update? Or a restart? What does you docker configuration look like? Curious if somehow the data was not configured as persistent.

[2021-09-06 14:50] davbren commented on #305
just a restart, I've only just started using it. I'm pretty new to the
docker thing. Where would I find the docker configuration? Performance is
also snail pace. It's quite possible the data was not configured as
persistent.

On Mon, 6 Sept 2021 at 13:02, Christopher Charbonneau Wells <
***@***.***> wrote:

[2021-09-06 15:30] cdubz commented on #305
Are you using Docker Compose? If so the config we’d want to see is the `docker-compose.yml` file contents. Unfortunately I’m also not very strong with Docker so I’ll also ping on Gitter for any advise here.

[2021-09-06 15:57] davbren commented on #305
apparently not. I used the docker-cli. It made the most sense to me. If i
need to reinstall using compose I can but ideally not...

On Mon, 6 Sept 2021 at 16:31, Christopher Charbonneau Wells <
***@***.***> wrote:

[2021-09-06 18:33] cdubz commented on #305
I pinged the folks on our [Gitter](https://gitter.im/babybuddy/Lobby) as there are quite a few Docker users there in case anyone has advice but I think you may be out of luck here. The primary way I have seen people use Docker for Baby Buddy is via Docker Compose. I’d recommend that and there is more info in the README about how to get things going.

[2021-09-06 19:57] davbren commented on #305
Thanks so much for your help Christopher!

It's ok if I have to start with compose, I'm still working things out on
the server so I'll see how we go.

Thanks again,
David

On Mon, 6 Sept 2021 at 19:33, Christopher Charbonneau Wells <
***@***.***> wrote:

[2021-09-06 20:02] lutzky commented on #305
So, with `docker-cli`, I assume you ran the following command (from https://hub.docker.com/r/linuxserver/babybuddy):

[code]

That means your data would be saved in `/path/to/appdata`. Hopefully you didn't enter that path as-is, because it probably doesn't exist on your system. You should be able to get the configured directory using this:

[code]

The `"Source"` part indicates where your actual d

[2021-09-08 10:34] lutzky commented on #294
Come to think of it, I'm also interested in making this user-configurable. There's another feature that I'm hesitant to add (although I did have it in my local version for a while) is a plain clock. Such things would indeed make more sense as configurable options, be it per-user (saved in the DB, more complicated?) vs global (environment variable, simpler?) - is there an open issue for such a conc

[2021-09-08 11:51] cdubz commented on #294
@lutzky I don’t believe there is an existing issue re: a plain clock. Though I’m also not sure what you mean by that? Just something (in the dashboard?) showing the current time?

[2021-09-08 12:48] lutzky commented on #294
Ah, apologies, I mean an issue regarding "more configurable options". The clock thing is just something I hacked together myself (it's for the top navbar; it's useful when using babybuddy on a wall-panel in a dark room with no other backlit clock), which I'd only think makes sense to merge into master if it's configurable.

[2021-09-08 13:01] cdubz commented on #294
I’m slightly hesitant to make too many things configurable. But that’s only my personal opinion.

I think a more immediate issue would be how to improve the user settings screen to make it easier to understand and navigate. Right now it’s just a long list with some minor categorization and some of the existing options are kind of confusing.

And re: ENV vars, I would rather use per-user settings f

[2021-09-09 02:22] #162 closed

[2021-09-09 11:47] cdubz commented on #284
@Expro I’d be interested in your thought on #304 related to this.

[2021-09-17 03:12] #305 closed

[2021-09-17 03:47] cdubz opened #311 "Support "secure" cookie attribute automatically"
https://github.com/babybuddy/babybuddy/commit/8ea68eed540971b7cc0157162cdaec4c673f2b79 tried to set the "secure" attribute on cookies automatically but (of course...) this broken log in on non-https connections. It would be nice to find a way to support this automatically so users don't have to know to go in to settings and enable this feature after configuring https.

[2021-09-18 04:27] cdubz commented on #297
Ok finally started working on this. There is a certain ghostly them to current iteration lol :ghost:

![image](https://user-images.githubusercontent.com/10456740/133872402-4ee8e9be-6449-4f4b-a984-922ec0e09bab.png)

I may need to find/enlist some help from someone who actually knows how to work with SVG files...

[2021-09-18 09:32] lutzky commented on #297
That's, uh, terrifying :sweat_smile: on a blue background, you'd see just the eyes, too. I'd drop the white eyes in favor of an outline around the whole shape.

[2021-09-20 12:58] cdubz commented on #297
Thoughts on this? It has a very light white border --

![image](https://user-images.githubusercontent.com/10456740/134006111-e232c8fb-e866-4e3f-aaf7-463d1e48215e.png)

[2021-09-20 13:00] lutzky commented on #297
*[squints]*

Does it? The best test is "how would it fare on a background that happens to be the same color as the foreground", and my guess is that it would disappear.

[2021-09-20 13:24] cdubz commented on #297
It does! Anything thicker looks really mashes up the details. The only option that would that well, I think, would be to use a background with the image but I think that is the less attractive option --

![image](https://user-images.githubusercontent.com/10456740/134009874-bb8f4348-7862-40ba-b3e7-7854f62f387c.png)

[2021-09-20 18:03] lutzky commented on #297
Here's what I had in mind - I made this in gimp starting with `icon-brand.png` - which, incidentally, is partially transparent! Is that on purpose? I fought it by duplicating the layer 4 times. (Border was added by adding another layer below, "alpha to selection" + grow selection by 2px.

Option 1:

![icon-border](https://user-images.githubusercontent.com/8140/134051231-fb1821c3-592e-4a27-bd95-37f

[2021-09-20 18:05] cdubz commented on #297
Haha yeah the current brand icon on `matser` is a mess. I'm also updating these assets generally in https://github.com/babybuddy/babybuddy/pull/312 so there are better starting points there (including SVGs).

I'll give a thicker stroke a try again later. To me it seemed like it would look bad on dark backgrounds...

[2021-09-20 18:17] lutzky commented on #297
Looks pretty good to me on Github Dark Mode.

[2021-09-20 18:27] cdubz commented on #297
Yeah but at favicon size?

![image](https://user-images.githubusercontent.com/10456740/134054617-83ea9c6b-6262-4079-823e-d1027e1ded19.png)

![image](https://user-images.githubusercontent.com/10456740/134054713-f41dd88e-ef8e-4737-93e4-438a41c630db.png)

[2021-09-20 18:36] lutzky commented on #297
Yeah, still looks good to me... I gather you don't like it. I'm not much of an artist 😅

[2021-09-20 19:00] cdubz commented on #297
Haha me neither. The second one with filled in details look like it _may_ work so I'll run a variant of that through a full test. There is also some way to handle different versions for dark/light mode but I'm unclear on that standard/how it integrates with browser usage of the favicon.

[2021-09-23 00:59] jcgoette commented on #301
How much coordination will this require with LSIO?

[2021-09-24 11:19] rbeumer opened #313 "Enhancement: premature birth"
Our son was born early (<37 weeks) so he is still in the hospital. We care for him as much as possible but there are some things that are done differently because of his age:

- feeding via a tube because he is unable to swallow until he is old enough. This should be an option for feeding type.
- Age: when baby's are premature you basically track two ages: days past since birth and how much weeks

[2021-09-24 18:11] cdubz commented on #313
Congratulations! Hope all goes well with the baby.

Adding a "tube" feeding option should be fine. Some day I just need to make that field configurable...

Tracking premature babies may be a bit tough. What would you propose as different from setting the birth date as the day of birth (i.e. the early date)? If the app also tracked the anticipated date, what would it do with that information/where

[2021-09-25 21:16] #297 closed

[2021-09-25 21:17] cdubz commented on #297
Alright I fiddled with this _a lot_ and didn't come up with a "works in all scenarios" version that I liked. I'm sticking with the updated theme blue and changing to an SVG icon (that does have a dark mode setting that browser may or may not use :shrug:).

[2021-10-04 11:34] #258 closed

[2021-10-04 11:42] #166 closed

[2021-10-09 17:55] BenjaminHae commented on #178
How about handling timestamps on the server side always in UTC, even in server requests/responses and doing localization using javascript?
That way a user does not need to setup anything, as the timezone is handled by the browser.

[2021-10-10 09:40] BenjaminHae commented on #178
I think a lot of the logic needs to happen on the client side for that stuff.
Not a big problem, but a lot of work.

[2021-10-10 13:28] cdubz commented on #178
Yeah that would be a pretty big blocker to this ticket (:

[2021-10-15 15:32] cdubz opened #320 "`gulp migrate` failing in Gitpod"
Starting a new Gitpod environment is resulting in --

[code]

when running the `gulp migrate` command. The relevant error there is `ModuleNotFoundError: No module named '"babybuddy'`. This definitely worked before and as far as I know nothing has changed with the Gitpod config.

Running `env` in Gitpod after a failed setup shows `DJANGO_SETTINGS_MODULE="babybuddy.settings.development"`. Running `e

[2021-10-15 18:33] Alberdi commented on #320
It seems like an already-fixed-not-yet-deployed issue in GitPod: https://github.com/gitpod-io/gitpod/issues/5887
So waiting might be enough!

[2021-10-15 18:36] lutzky commented on #320
Ha, great minds!

[2021-10-15 23:55] cdubz commented on #320
Nice catch! Thank you both for posting this out.

[2021-10-25 11:45] #320 closed, assigned to nobody

[2021-10-25 18:53] sfgabe opened #323 "Possible to manually assign nap / sleep?"
Working with a newborn here and the idea of a "nap" depends more on where the sleeping happens - ie: in the swing is a nap / back sleeping in bed is sleep.

Is it possible to create a checkbox for "nap" instead of relying on the config? Also, bed times are going to change as sleep gets more regular - can this be something that is configurable in the UI instead of editing the config whenever that h

[2021-10-27 13:11] cdubz opened #324 "Custom `en` date formats interfere with `en-GB` language"
@cdubz Thanks for trying to get #321 sorted.

I've had a quick test of the latest commit (fae764a) and it wasn't fully working for me. (This should probably be moved to an  issue)

Data input is working correctly and the input controls use the correct format, but the display list pages are not.
Not sure if this is expected or not (from a tech perspective), but the default time format when en-GB is

[2021-10-30 13:13] codisart commented on #283
Hello @cdubz I was motivated to check this bug out. But the sleep_pattern.py is a little bit hard to comprehend. Are you ok with maybe few simple PRs to reduce the complexity and to help me understand what is going on ?

[2021-10-30 13:14] cdubz commented on #283
Absolutely I am! That code is a mess 😬

[2021-10-30 23:02] Shaun-Harrison opened #328 "Help with API - Only Receive Todays Results"
Hi, I'm integrating the baby buddy into my HA instance - I've managed to get some of the basics working but noticed the results won't be for todays date, only for all the records available

Is it possibly to query the API and have a filter to only include results from today?

[2021-10-31 01:26] phoenixfangor opened #329 "OPTIONS API returns results instead of parameters"
Current: Using the API on version 1.6.0, send an Options request for children or changes (perhaps others, too). The response is as follows:
`{
    "count": 1,
    "next": null,
    "previous": null,
    "results": [
        {
            "id": 1,
            "first_name": "xxxx",
            "last_name": "xxxxxxxx",
            "birth_date": "2021-05-23",
            "slug": "xxxx-xxxxxxxx",

[2021-10-31 01:33] cdubz commented on #329
Thanks for reporting! That definitely worked at some point…

[2021-10-31 01:36] cdubz commented on #328
Hi @Shaun-Harrison 👋  Looks the API indeed does not have a date filter… this would definitely be a useful enhancement. Happy to get a PR or I’ll take a look when I can.

[2021-10-31 03:47] axilleas commented on #174
👋 any workarounds on this? Seems we cannot use a time between 2am-2:59am when time changes.

btw I'm getting this when submitting the form.

[2021-10-31 04:28] cdubz commented on #174
No workarounds I can think of. I can’t believe this bug report is a year old. I hate to say “soon” but I will try to address this… soon 😬

[2021-10-31 07:33] fodi666 commented on #283
@codisart if you are planning tweaking the sleep graph, could you maybe prepare it to accept other actitivies as well? (feeding, diaper, tummy time) or at least in a way that would allow it more (aka #218 )

[2021-10-31 10:44] axilleas commented on #174
Yeah, I know :smile: No worries, the current workaround is to not file any reports during this hour :)

[2021-10-31 12:28] cdubz commented on #329
@phoenixfangor could you provide steps to reproduce this? Testing from the API browser and Postman I am able to get the correct `OPTIONS` responses --

# Request
[code]

# Response
[code]

[2021-10-31 15:18] phoenixfangor commented on #329
Turns out it was a mis-configuration with Postman, it was not following the redirect with the original HTTP method by default and is working once I enabled that setting.

[2021-10-31 15:19] #329 closed

[2021-10-31 20:29] #328 closed

[2021-10-31 20:38] cdubz commented on #328
This is in `matser` now -- thanks for pointing it out! I will probably do a release sometime in the next few days or week here,

[2021-11-07 21:21] cdubz commented on #256
Fixed by 9c1ba2162841fb3f690caf61916677f4348eadd4

[2021-11-11 04:41] cdubz commented on #256
Reopening as I had to kill this again due to new issues.

See https://github.com/babybuddy/babybuddy/actions/runs/1447349130

[2021-11-12 18:13] #324 closed

[2021-11-12 23:11] Amith211 opened #333 "en_GB Time Format (24 Hour)"
Following on from #332, `en_GB` needs have an implementation for `USE_24_HOUR_TIME_FORMAT`.

The default Django implementation for `en_GB` using 12h as the default seems incorrect to me for the following reasons:

1. In the UK, pretty much all digital clocks will use the 24h format as will bus & train timetables.
2. To help evidence this, with `en_Gb` as the locale both linux and windows use the 2

[2021-11-12 23:41] cdubz commented on #333
This all sounds right. I’d actually agree with you that I’d rather have 24H be the standard with a 12H option but I feel like that would introduce confusion and delay here.

That said, I’d also entertain deprecated the env var and letting users set this as part of their own user settings but that can be a follow up issue 😁

[2021-11-13 16:35] vrutkovs opened #336 "Crashes on startup: `ImportError: cannot import name 'etree' from 'lxml'`"
BabyBaby running from https://github.com/linuxserver/docker-babybuddy/pkgs/container/babybuddy/10232596?tag=1.9.1 crashes on startup:
[code]

[2021-11-13 17:32] cdubz commented on #336
Thanks for reporting. I’ll give this a test when I can. I only just added Python 3.9 testing and it passed tests and worked fine in my local testing 🤔

[2021-11-13 20:06] AhmetCelikbasBMX commented on #336
@cdubz Thank you for your support. This bug also affect me. Here is the traceback :
[code]

[2021-11-13 20:25] cdubz commented on #336
Until I get a chance to look at this — there are a number of references to similar issues. Could one of you try the recommendation here? https://github.com/WeblateOrg/weblate/issues/4183#issuecomment-953697959

[2021-11-13 21:17] vrutkovs commented on #336
Ah, apparently its a dependency problem. `lxml` installed from pip cannot be linked properly to alpine's python (ldd throws a lot of "symbol not found"). Installing `py3-lxml` fixes it

[2021-11-14 01:03] jcgoette commented on #336
Who manages the Dockerfile? babybuddy or LSIO?

[2021-11-14 01:16] cdubz commented on #336
LSIO supports us here. I think https://github.com/linuxserver/docker-babybuddy/pull/10 is the correct fix here but it looks like it needs some additional dev packages?

[2021-11-14 22:38] cdubz commented on #336
This should be resolved by https://github.com/linuxserver/docker-babybuddy/pull/12 -- thanks to LSIO crew!

[2021-11-14 22:38] #336 closed

[2021-11-15 01:06] BadCo-NZ opened #337 "ERROR: Enter a valid date/time"
Hi,

I woke up this morning to BabyBuddy being down, checked github and noticed there was an issue with the latest release, so while the fix was being worked on I decided to move BabyBuddy from being a docker run command to a docker-compose file.

docker-compose file:

[code]

I have now pulled the latest image 1.9.1-ls16, and I am having an issue with date/time when adding entries. See example be

[2021-11-15 01:32] cdubz commented on #337
I actually saw this weird behavior briefly after recent dependency updates and then it went away and I couldn’t reproduce it again. Maybe try a hard refresh to clear browser caches?

The invalid date/time thing _may_ also be related to/fixed by that. But if not — what language setting are you using?

[2021-11-15 01:42] BadCo-NZ commented on #337
Yup, English is correct :)

I tried clearing cache and site data in FireFox and LibreWolf, but it did not change any behavior.

[2021-11-15 01:48] BadCo-NZ commented on #337
Rolling back to 1.9.0-ls14 fixes the issue.

Should I make create an issue at linuxserver/docker-babybuddy?

[2021-11-15 02:03] cdubz commented on #337
I don’t think so. I bet this has something to do with recent changes to language handling and custom formats (i.e. not an issue with the Docker implementation but with the app itself). I’ll take a look in the next few days.

[2021-11-15 02:04] BadCo-NZ commented on #337
No worries. Let me know if you need me to test some more, I can spin up a duplicate container with the latest release.

[2021-11-15 14:50] Shaun-Harrison commented on #328
Hi @cdubz - seen that a new release has gone through - what is the formatting for getting it to filter by time now?

[2021-11-15 23:40] Borlean commented on #337
I'm having the same issue and can't add any sleep or tummy time.  Whats the full link to downgrade to v 1.9.0?
using lscr.io/linuxserver/babybuddy:1.9.0-ls14 just breaks the container.

[2021-11-16 02:36] cdubz commented on #337
Are either of you able to reproduce this issue at http://demo.baby-buddy.net?

[2021-11-16 03:24] BadCo-NZ commented on #337
`lscr.io/linuxserver/babybuddy:v1.9.0-ls14`

worked for me, note the 'v'

Yes, I get the same error.

Buuut, I went into the user settings, set the timezone to Pacific/Auckland and language to en_GB and now it works.

[2021-11-16 03:35] cdubz commented on #337
Interesting! I’m not able to reproduce… can you give me exact steps to try?

[2021-11-16 03:39] BadCo-NZ commented on #337
Ok, so I re-pulled the latest image, went into settings and the correct timezone was already selected. Changed language to en_GB. Threw a nappy change in and it worked.

A bit more testing, when I start a timer, then add it as a sleep entry, the date values still disappear, but aslong as I back date the time by 1min before the current time then it will get accepted.

[2021-11-16 09:48] Amith211 commented on #337
FYI, I couldn't reproduce the invalid date format in Firefox, Chrome nor Edge.
I tried using `UTC` with both `en_US` and `en_GB`, and Pacific/Auckland with both `en_US` and 'en_GB' on http://demo.baby-buddy.net and in docker, which is strange.

I can reproduce your other issue when using the timer to add an entry with `Pacific/Auckland` and `en_GB` set.
It appears as if the date format is not as e

[2021-11-16 13:16] cdubz commented on #337
@Amith211 thanks for testing. Sorry I haven't made a review of #335 yet -- it'll probably be a few more days. I did kick off the Heroku PR environment deploy though, so you (and others in this thread) can also test in this public environment with your changes: https://babybuddy-pr-335.herokuapp.com/

[2021-11-16 20:04] cdubz opened #339 "Do not attempt to deploy demo on PRs in CI"
The [CI YAML](https://github.com/babybuddy/babybuddy/blob/master/.github/workflows/ci.yml) needs to be updated somehow to prevent it from attempting to deploy the demo to Heroku on PRs. I thought the current config would do that but apparently it does not...

[2021-11-16 21:40] BadCo-NZ commented on #337
Cheers for the info. If I get a chance today I'll spin up a updated clone and see if that has any issues.

[2021-11-17 10:24] jfgxyz opened #340 ""Deploy to Heroku" button broken now README is separated."
clicking the "Deploy to Heroku" button located in the [Deployment](https://github.com/babybuddy/babybuddy/blob/master/docs/DEPLOYMENT.md) page of the README generates the URL:

https://dashboard.heroku.com/new?button-url=https%3A%2F%2Fgithub.com%2Fbabybuddy%2Fbabybuddy%2Fblob%2Fmaster%2Fdocs%2FDEPLOYMENT.md&template=https%3A%2F%2Fgithub.com%2Fbabybuddy%2Fbabybuddy%2Fblob%2Fmaster%2Fdocs%2FDEPLOYME

[2021-11-18 09:45] Shaun-Harrison commented on #328
Hi again @cdubz

Just an update on the above query, got filtering by date on feeding and sleep working, but using

?time=[DATE]

for Changes is not working for me at all, any suggestions?

[2021-11-18 09:54] cdubz commented on #328
@Shaun-Harrison sorry I haven’t follow up yet. Been traveling but wanted to test myself before responding. The [schema doc](https://github.com/babybuddy/babybuddy/blob/master/openapi-schema.yml ) should point you in the right direction for available filters. If something is documented there and not working please open a new ticket (or ditto if you find that this filtering is not available somewher

[2021-11-18 09:58] Shaun-Harrison commented on #328
@cdubz No need to apologise! hope your well and enjoying the travels!

Will open a new issue now with what I've found, the schema doc is a big help though, stops me guessing what they are :D

[2021-11-18 10:00] Shaun-Harrison opened #342 "New filters on date for changes"
Hello!

Working on getting the amount of nappy changes there's been today by filtering on date

Looked at the [schema-doc](https://github.com/babybuddy/babybuddy/blob/master/openapi-schema.yml) for /api/changes it says that date is an option - but when using just date it gives the following

![image](https://user-images.githubusercontent.com/46562010/142393691-782da053-5b39-43f5-a571-b1c0d2a762b3.

[2021-11-19 13:53] #340 closed

[2021-11-19 13:54] cdubz commented on #340
Thanks for reporting this! Fixed.

[2021-11-19 16:25] #342 closed

[2021-11-19 16:26] cdubz commented on #342
Thanks for reporting! This filter was indeed broken. Fixed now in `master` and will probably have a 1.9.2 release soonish given a couple other small bugs.

[2021-11-19 22:23] Alberdi opened #343 "Notes on child timeline"
The child timeline, as it appears in `/children/child-name-slug`, doesn't currently display the child's notes. I think adding them would allow to have a full summary of all the day events.

[2021-11-20 00:01] cdubz commented on #343
Makes sense. Happy to take a PR for this (@lutzky? 😉). Or I’ll get around to it at some point.

[2021-11-20 18:13] MaikelvdB07 opened #345 "Connection to Home Assistant"
Please help me out.

I've deployed the Baby Buddy on Heroku, but when I try to integrate it in Home Assistant it asks for a host and API.

What do I enter as the host?

It keeps saying that it can't connect when I enter the URL.

Thanks in advance!

[2021-11-20 18:30] cdubz commented on #345
@jcgoette any input here? I have not used HA myself.

[2021-11-20 18:40] jcgoette commented on #345
@MaikelvdB07 , please move this issue to https://github.com/jcgoette/baby_buddy_homeassistant.

[2021-11-20 20:32] #345 closed

[2021-11-20 21:46] jcgoette commented on #345
Fixed at https://github.com/jcgoette/baby_buddy_homeassistant/issues/50.

[2021-11-20 23:16] #343 closed

[2021-11-20 23:21] cdubz commented on #339
Fixed by 2fea4c880600d21ef230e3986f8c3744e79a1721

[2021-11-20 23:21] #339 closed

[2021-11-25 06:30] meeb commented on #337
Anecdotal confirmation, we also experienced this issue with the "Enter a valid date/time" error for valid dates. Downgrading to v1.9.0-ls14 resolved it for our local install via Docker. Our container timezone is "Australia/Hobart". I can't replicate this on http://demo.baby-buddy.net/ which seems to work properly.

[2021-11-25 20:01] Alberdi opened #346 "Wrong language after logging in"
When I log in, all the texts appear in English even though my user has Spanish as the default language. I'm using Firefox 94.0.2 with Galician as default language (not supported by Baby Buddy) and Spanish as second, in case it matters.

Steps to reproduce:
1. Open Baby Buddy on an incognito window.
2. The login screen appears in English (extra: should appear in Spanish because it's the second lang

[2021-11-25 20:08] cdubz commented on #346
Thanks for the detailed report 👍 There was a recent change to the way language settings are handled that probably caused this. Will take a look when I can.

[2021-11-28 19:18] #346 closed

[2021-11-28 19:18] cdubz commented on #346
@Alberdi thanks again for the report. These issues should be fixed and will be in the next release here soon.

[2021-11-28 22:19] cdubz commented on #337
I just pushed some commits related to #346 that may relate to this issue as well. Appreciate if folks who are able to run an instance from `master` can give their issues from this thread a test again. I also hope to get a new bug fix release out soon with these changes but trying to get #335 settled and merged first.

[2021-11-29 01:54] BadCo-NZ commented on #337
Thanks @cdubz, I'll have a go at spinning it up later tonight

[2021-11-30 15:53] voss opened #347 "Sleep pattern returns server error (500)"
Hi baby buddies,

I'm running Baby Buddy on a Linode "Nanode" instance, and it's been working flawlessly since April. I've installed it following the instructions in the install guide from github, for a manual deployment.

The Nanode is running Debian 10 (Buster), and has, as mentioned worked flawlessly since April when I installed it.

I haven't touched the config of either Baby Buddy or Debian i

[2021-11-30 16:19] cdubz commented on #347
The easiest way to get detailed error information is to enable debug mode and try to the load graph. You can do by setting a `DEBUG` environment variable to `True` (from an `.env` file if you're using one or just at CLI) or just setting the value to `True` in [settings/base.py#L25](https://github.com/babybuddy/babybuddy/blob/master/babybuddy/settings/base.py#L25). Restart the services after that c

[2021-11-30 16:44] voss commented on #347
Thank you for your **very** fast reply!

I'm running version: v1.5.1 (4df001c). Good shout on potentially updating to the latest version. Can I go straight to the latest, 1.9.1 release, or should I update in steps to some of the previous updates first? And also, on that, is there a guide on how not to nuke your install when updating manually? (:

I will change DEBUG to True in the base.py file, an

[2021-11-30 17:30] cdubz commented on #347
You _should_ be able to up the latest version fine, just make sure to run migrations after updating. And definitely make a database backup beforehand just in case.

Debug output will go to browser.

[2021-12-01 13:21] Michaelpalacce opened #348 "column core_sleep.napping does not exist"
After a database restart i am encountering the following error:

<html>
<body>
<h1 style="padding: 0px; margin: 0px; font-weight: normal; color: rgb(232, 230, 227); font-family: sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word

[2021-12-01 13:23] Michaelpalacce commented on #348
Adding the column manually in postgres fixed this issue

[2021-12-01 13:36] cdubz commented on #348
@Michaelpalacce do you have you updated recently? That column was added in the most recent release (v1.9.1) and should be added when you run database migrations after updating.

[2021-12-01 13:37] Michaelpalacce commented on #348
I did yes but I did not see this issue before... Which is weird. I am using docker, not really sure how to run migrations.

Would just adding it with a type of boolean be an issue?

[2021-12-01 13:40] cdubz commented on #348
Hm I'm not sure the exact method for Docker but essentially you need to run `python manage.py migrate` in the app container somehow. You'll want to do this after any update to ensure you database schema is kept up-to-date for the application.

[2021-12-01 13:47] Michaelpalacce commented on #348
Seems simple enough. Thank you for the info, closing

[2021-12-01 13:47] #348 closed

[2021-12-01 17:22] voss commented on #347
Thanks for your help @cdubz.

I tried `git pull`, and was told that `settings/base.py` and `urls.py` had local changes, and had to be stashed or committed. I stashed them, ran `git pull`, and then `git stash pop` to merge those locally changed files. I guess merging that 1.5.1 `base.py` with the one from 1.9.1 would screw things up. I don't remember changing anything in `urls.py` though. After run

[2021-12-01 20:08] cdubz commented on #347
Ah you pretty far back so you'll need to re-run `pipenv install --three` as well to make sure you have all the latest python dependencies. _Then_ running migrations should work (side note -- you should tun the migrations through `pipenv` so `pipenv run python manage.py migrate` to ensure you use the environment packages.

If you can share the diffs for the settings and urls files I can possible al

[2021-12-02 12:27] voss commented on #347
Perfect. I think I will just try the update, now that I understand the process a bit better.

I was thinking of making a copy of the `/var/www/babybuddy` folder, and then update the app for that folder, to see if I can do it without any errors. My question is, updating a copy of the app, in that folder, wouldn't affect the instance currently running, as I'm only updating the virtual environment fo

[2021-12-02 14:44] cdubz commented on #347
No worries. Python's package management system is kind of shitshow so there are no stupid questions (:

Copying the folder as a backup _should_ work because it should have the `.git` and `.venv` (where virtual environment libraries live) folders. That said, I'd recommend just creating a backup of the instance that you can fully restore from if something goes wrong (assuming that's possible with Li

[2021-12-02 14:44] #347 closed

[2021-12-02 17:52] JoeArcher007 commented on #337
Here's the experience that I'm having with this issue (hopefully not cluttering this issue):

Timezone is America/Toronto
Using Build v1.9.1-ls18 in Docker on Ubuntu 21.10 x64 Virtual Machine

If I do a reboot of the physical server host, or the vm hosting the docker instance, it doesn't work correctly. If I restart the Docker container after the reboot, it works again. Not sure exactly how that i

[2021-12-02 19:57] cdubz commented on #337
@JoeArcher007 just to be clear, when you say "it" works and doesn't work -- you mean the frontend datetime validation on fields? Assuming so, definitely not clogging up the issue (:

[2021-12-02 20:13] JoeArcher007 commented on #337
Good call, I should have been more clear there 👍🏻. And yes, the "It" being that when using a quick timer and entering that quick timer as a sleep/tt/eating entry, it auto-populates the date/time fields correctly and also validates correctly as well. Thank you!

[2021-12-04 11:54] cdubz commented on #337
Hi folks 👋 I was trying to wait out a couple of other issues but this one seems like a PITA and it _may_ be fixed by some other changes so I released a [v1.9.2](https://github.com/babybuddy/babybuddy/releases/tag/v1.9.2) with those changes. For those having this issue please give it a try and let us know if you still have issues. Thanks!

[2021-12-05 05:35] meeb commented on #337
Hi @cdubz - unfortunately `v1.9.2` has not fixed this for us, we still get the "Enter a valid date/time" error regardless of the date format used. I've rolled back to `v1.9.0-ls14` again which fixes it for the moment. Cheers.

[2021-12-05 14:19] cdubz commented on #337
Thanks for testing! Too bad it didn’t magically fix itself… it’ll be another few weeks before I can really test this. Is anyone here able to reproduce outside of Docker? I think so far everyone reporting this is using Docker?

[2021-12-05 19:13] Borlean commented on #337
Yes, I'm using via Docker.

[2021-12-05 19:30] cdubz commented on #337
Additional question -- is anyone here getting this issue when first starting to use Baby Buddy or just after upgrading from some version before v1.9.1? I finally had some time today to test using the Composer config @BadCo-NZ provided but I couldn't seem to to find a way to replicate the issue.

Also for those experiencing this issue when upgrading -- could you test starting up a _new_ instance fr

[2021-12-05 23:35] BadCo-NZ commented on #337
Originally I did try to run it in a LXC container, but I couldn't get it working. If you want to walk me through it I will be happy to try again?

I have a test instance of BabyBuddy on a different "host" that I need to test this issue with. It is on the to-do list!

[2021-12-05 23:42] cdubz commented on #337
I don’t even know what an LXC container is 😁 Was curious if anyone ran in to this with the “manual” install method but I guess Docker is what a majority of users use…

Thanks in advance for testing. A user on Gitter is able to reproduce with a fresh instance so it does seem to be more than just something about updating.

[2021-12-05 23:53] BadCo-NZ commented on #337
LXC is basically a system container vs Docker being an application container. It is an OS that shares the kernel with the host, so in essence it would be a "manual install"

[2021-12-05 23:55] BadCo-NZ commented on #337
Ok a quick test while the baby is screaming for his bottle haha

New install (ver 1.9.2) with the below compose, I get the same issue with my local timezone set (I can't even start a timer).

However, if I set the timezone to UTC (under user settings) I am able to start a timer and save it.

[code]

[2021-12-05 23:56] cdubz commented on #337
Thanks for confirming. Feed that baby!

🕵️‍♂️

[2021-12-06 10:11] Alberdi opened #352 "Hardcoded English strings on timeline"
Just some texts that cannot be translated at the moment:
- [x] [Duration](https://github.com/babybuddy/babybuddy/blob/f643ad7771108cad1c6a585033e3b41752954236/core/templates/timeline/_timeline.html#L38)
- [x] [since previous](https://github.com/babybuddy/babybuddy/blob/f643ad7771108cad1c6a585033e3b41752954236/core/templates/timeline/_timeline.html#L43)
- [x] [Edit](https://github.com/babybuddy/bab

[2021-12-06 10:54] cdubz commented on #352
Thanks for reporting. I gotta remember to watch out for those in PRs…

[2021-12-08 13:45] lelandbay commented on #337
I was having the same issue with not being able to enter activities because if an invalid date / time.

My time zone was America / New York and the language is English (US).

I tried changing the language to English (UK) and it allowed me to enter activities. But after I changed the language all my activities I had before that shifted back to activities in May. Like a 12/6 date became 5/6.

I chan

[2021-12-13 08:55] kdrobnyh commented on #337
Had the same issue when tried to migrate from 1.9.0 to 1.9.1. Did not use Docker, Babybuddy was installed in my system to use with MariaDB. Time zone is America/Phoenix and the language is English (US). Tried to find the issue using git-bisect, but was not able to reproduce the issue even with 1.9.1. Was in a hurry to fix that, so might have missed something.

[2021-12-13 09:03] kdrobnyh commented on #154
Now [Babybuddy Docker image from LinuxServer](linuxserver/babybuddy) should be able to support MySQL/MariaDB as well. Check it out.

[2021-12-13 13:30] cdubz commented on #154
Thanks, @kdrobnyh. There are still some changes necessary to the application itself. Some of that work was done in https://github.com/babybuddy/babybuddy/pull/155 but it's pretty outdated now and had quite a few issues. I'd be happy to have someone using MySQL to pick that PR back up (or start a new one if its easier).

[2021-12-13 13:48] cdubz commented on #337
Thanks, @kdrobnyh -- good to hear from someone _not_ using Docker to further confirm this is an issue with the app itself. I'm not 99% sure this stems from https://github.com/babybuddy/babybuddy/commit/d74f35d765a6e90b06e893219b237959406685cf. I made this change to support proper default date formatting for the en-GB language because Django's default settings are weird. I'm trying to avoid reverti

[2021-12-13 14:14] kdrobnyh commented on #337
I have some updates about the issue: we have 2 BabyBuddy users. Today I switched to Docker and updated BabyBuddy to 1.9.2. I checked from my phone - everything seemed to work as usual. However, when my wife tried to add a new entry, she encountered this error (Enter a valid date/time.). POST messages were identical from both users, but one received error, the other did not. I checked the database

[2021-12-13 14:28] cdubz commented on #337
@kdrobnyh thanks for digging! That actually makes sense and may explain this issue completely... I did not consider the fact that changing the server default from `en` to `en-US` would require a migration but I bet it _does_ for users who had previously access and saved the settings form (giving themselves a setting of `en` before the update). This may be the key to this whole debacle... I'll take

[2021-12-13 21:19] #333 closed

[2021-12-13 21:35] #337 closed

[2021-12-13 21:36] cdubz commented on #337
Ok all, I think I have this resolved on `master` -- would appreciate if someone here is able to test and confirm but regardless I'll create a new release in the next 24 hours or so. Big thanks to @kdrobnyh for the sleuthing that led me to be able to reproduce and fix this.

[2021-12-13 23:52] MagiX13 opened #354 "Boolean environmental variables"
Hi,

I'm running babybuddy via the linuxserver docker container and failed to turn off the debug mode via environmental variables. Note that the linuxserver docker container sets DEBUG to False if not set, but this is interpreted as a string and thus treated as True.

Some investigation showed that the dotenv package does not support boolean variables, and thus whatever non-empty value the DEBUG e

[2021-12-14 00:18] cdubz commented on #354
@MagiX13  a PR would be great. Thank you!

[2021-12-14 00:24] cdubz commented on #154
Oh, maybe less than I thought? I assumed [pymysql](https://pypi.org/project/PyMySQL/) would need to be added to the requirements. What does your `DATABASES` setting look like, @kdrobnyh?

[2021-12-14 04:54] kdrobnyh commented on #154
I use (with and without Docker) [mysqlclient](https://pypi.org/project/mysqlclient/). According to the different [sources](https://stackoverflow.com/questions/43102442/whats-the-difference-between-mysqldb-mysqlclient-and-mysql-connector-python), it's much faster than [pymysql](https://pypi.org/project/PyMySQL/) you mentioned. The drawback is it required an additional library installed in the syste

[2021-12-15 11:26] #354 closed

[2021-12-15 13:46] MagiX13 commented on #186
I also looked a bit into this and have identified three templates that I needed to adjust to work on my side, namely:
- the timer deletion template has a the [cancel linked to /](https://github.com/babybuddy/babybuddy/blob/master/core/templates/core/timer_confirm_delete_inactive.html#L22)
- the [base template](https://github.com/babybuddy/babybuddy/blob/master/babybuddy/templates/babybuddy/base.ht

[2021-12-15 13:51] cdubz commented on #186
@MagiX13 yeah tests will run on PR -- you don't need to worry about that. And if I think any tests need to be added for this feature I can chip in.

[2021-12-17 00:32] alancyau opened #357 "iOS 15 web app experience is degraded"
Device: iPhone iOS 15.1
BabyBuddy version: v1.9.3
Installed via Docker from https://github.com/linuxserver/docker-babybuddy.

When browsing to BabyBuddy from iPhone and attempting to use the [Add to Home Screen](https://support.apple.com/guide/shortcuts/add-a-shortcut-to-the-home-screen-apd735880972/ios) function, the icon is no longer the BabyBuddy icon. The icon is essentially a cropped preview

[2021-12-17 09:48] cdubz commented on #357
Thanks for reporting. I suspect this is a regression from https://github.com/babybuddy/babybuddy/pull/312. I was happy to cut back on all the system specific icon stuff with that PR but I suspect at least some of it will need to come back.

[2021-12-17 15:04] MagiX13 commented on #186
I dug a bit deeper into it and might have found a django bug that makes this quite tricky, i.e. nginx passes the script name to django as `HTTP_SCRIPT_NAME` (see the `request.META` content) and django expects `SCRIPT_NAME` (see [django itself](https://github.com/django/django/blob/main/django/core/handlers/wsgi.py#L185) )instead. If django were to use `HTTP_SCRIPT_NAME` (in line with the [django d

[2021-12-18 13:04] cdubz commented on #186
@MagiX13 Sorry I’m a little lost here — what’s the current state with your PR? Ideally we should add some documentation for this as well. I’m unclear how to set this up myself for testing.

[2021-12-18 18:45] #352 closed

[2021-12-18 23:40] cdubz commented on #211
Closing in favor of #174.

[2021-12-18 23:40] #211 closed

[2021-12-19 00:16] MagiX13 commented on #186
@cdubz Fully understand that. I did some more testing and it seems to work on my end, but I would be happy to add some documentation, I guess this goes into the [Deployment](https://github.com/babybuddy/babybuddy/blob/master/docs/DEPLOYMENT.md) documentation?

I'm using gunicorn and nginx and the relevant nginx lines look like this:
[code]
Thus the babybuddy works via nginx under `http://example.c

[2021-12-21 14:21] cdubz commented on #186
@MagiX13 yeah lets get some documentation on #358 branch. I actually tried to get this working for testing yesterday based on this issue and that PR but couldn't get it working.

Also note there is a `/media` directory that probably need special treatment like `/static`, I think? Have you tested uploading a child photo with your subdir setup?

[2021-12-21 16:00] JoeArcher007 commented on #357
I'm just adding in here, that this issue is not related to #312 . (or so I believe it to be)

What is happening is it's not converting the website into a web based app, as it does with iOS 14+ and likely earlier versions. It's creating a shortcut for Safari instead of a standalone instance of the website. So when you hit the home screen button, it's creating a new tab in Safari at that bookmarked

[2021-12-21 16:05] alancyau commented on #357
@JoeArcher007 I believe you're correct. The Add to Home Screen function within iOS is just bookmarking the website instead of converting it into a web based app. For example, when I scroll up and down within the app, the URL bar shows up. If it was an actual web based app, the URL shouldn't appear.

I'm not sure if this is related to the upgrade from iOS 14 to 15.

[2021-12-21 18:35] cdubz commented on #357
Ok yeah I see what y’all mean. The icon should be good now but the URL bar does indeed come up. I don’t think this was an issue before but I also don’t have an iOS 14 device to test with.

Maybe this meta tag is relevant? Not sure if it’s new or not. https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html#//apple_ref/doc/uid/TP4000

[2021-12-25 19:29] cdubz commented on #357
@alancyau @JoeArcher007 I think I've got this sorted now. Just needed some additional tweaks to the manifest file to keep the links inside the PWA container instead of opening a new tab in Safari over it.

[2021-12-25 19:31] #357 closed

[2021-12-28 16:11] kdrobnyh commented on #174
@cdubz, just an idea: why not to store everything as UTC in the database and convert from/to for every data that it stored/retrieved?

[2021-12-28 17:50] cdubz commented on #174
@kdrobnyh date and time data in the database _is_ stored in UTC but we handle the timezone server side based on application or user settings. I think ideally we could move that handling to the _frontend_ but thats no small task.

[2021-12-31 03:32] BadCo-NZ commented on #337
Just checked on a test instance, seems to be working without errors. I will try and migrate my DB tonight (story for another time) and test in production and report back.

Thanks @cdubz, @kdrobnyh and everyone else who commented on the issue.

[2021-12-31 14:19] #191 closed

[2021-12-31 15:17] #286 closed

[2021-12-31 15:18] #283 closed

[2022-01-01 19:41] BadCo-NZ opened #362 "Feature Request: Store Baby's Schedule/Routine"
Hi @cdubz and other users.

We are now nearly 5 months in to being Parents, and since about 4 months of age I created a schedule/routine based off the baby's history and other recommendations that we closely try to follow.

Would other people be interested in storing their routine in babybuddy? I think this would be helpful to share it between other users of the app and give you visual queues of w

[2022-01-01 20:03] cdubz commented on #362
@BadCo-NZ what kind of output would you be looking for? Just like a day schedule with times and notes about things to do? Or something else?

I have tried over time to keep the dashboard useful as a window in to baby’s “schedule” with the idea being anyone looking at the dashboard could look at “time since last X” and “average time between X” data to get some insight. But that “stats” data with ti

[2022-01-01 20:34] BadCo-NZ commented on #362
Yes, a day schedule with times, events and details, for example:

[code]

I'm not entirely sure what would be the best way to have it integrated. It could simply just be a seperate page where it is lists the schedule, or a tile saying the next upcoming schedule event? I'm hoping some others have clever ideas for this part haha.

[2022-01-01 20:44] cdubz commented on #362
Makes sense. Data model is pretty straightforward but I would also be interested in opinions on how to implement. Will leave this open for a bit for feedback.

[2022-01-05 01:54] dpadGit opened #363 "Issue with timer API for Feeding, Sleep, and Tummy-Time"
Hi there!

I'm currently running into an issue with the API when trying to convert an active timer into an activity. I created the timer with a Siri Shortcut for Child 1, but it fails to complete when I attempt to turn that timer ID into Feeding, Sleep, or Tummy-Time. I tried to troubleshoot the best that I could before logging this issue. Currently running the latest build/image (v1.9.3) from Lin

[2022-01-05 12:57] cdubz commented on #363
Hm yeah I think what you’re doing there should work. I’ll take a look soon.

[2022-01-06 15:30] cdubz commented on #363
This appears to be working for me in the demo. Hm...

Here's what I tried:

Request:
[code]

Response (`201 Created`):
[code]

Request:
[code]

Response (`201 Created`):
[code]

Could you also show the headers you're using for the request?

[2022-01-06 15:53] dpadGit commented on #363
Interesting! The only header that I'm using other than auth is "Content-Type: application/json"

I flipped it to the content type you used in your command, and it's still doing the same thing for me. I also started a session on the demo website to rule out any issues with my self-hosted setup and had the same result.

It could be how Postman is handling the request, but what's weird is that it's n

[2022-01-06 19:16] cdubz commented on #363
I’m surprised you got the same result on the demo. Could you export and post your queries from Postman so I can try um?

[2022-01-06 20:04] dpadGit commented on #363
Absolutely! I saved the attempts against the demo. Let me know if there is anything else I can grab.
[Baby-Buddy.postman_collection.zip](https://github.com/babybuddy/babybuddy/files/7824406/Baby-Buddy.postman_collection.zip)

[2022-01-11 13:11] cdubz opened #369 "Premature birth data"
### Discussed in https://github.com/babybuddy/babybuddy/discussions/318

<div type='discussions-op-text'>

<sup>Originally posted by **rbeumer** September 24, 2021</sup>
Our son was born early (<37 weeks) so he is still in the hospital. We care for him as much as possible but there are some things that are done differently because of his age:

- feeding via a tube because he is unable to swallow u

[2022-01-11 13:51] jcgoette commented on #369
**Possible model update**

Add non-required GA (gestational age). From this and the existing birthdate, we can calculate and could display elsewhere:

- Postmenstrual age (PMA)
  - GA plus chronological age
- Corrected age
  - Chronological age minus the number of weeks born before 40 weeks of gestation

[2022-01-11 14:29] cdubz commented on #369
Thanks, @jcgoette. That’s pretty much what I was thinking but you’ve already got the technical terms ⭐

[2022-01-11 19:00] cdubz commented on #363
@dpadGit Ok so it seems the documentation could use a little improving here. You should be able to set `Content-Type: application/json` _if_ you are sending the payload in the body as JSON (e.g., `{"timer": 1}`) but this won't work when passing via parameters. In fact I don't think any of the `POST`/`PATCH` endpoints will use query parameters -- you need to either use the json method or `Content-T

[2022-01-11 21:37] cdubz commented on #369
Reading up some more on the terminology in [GA, PMA, PCA, Chronological Age, Corrected Age – Using the Correct Terminology in the NICU](https://neonataltherapists.com/using-correct-terminology-in-the-nicu/) and fiddling with this [Gestational age calculator for preterm infants](https://peditools.org/dates/index.php) I'm thinking the easier non-required field to add would be _due date_. The calcula

[2022-01-12 01:14] jcgoette commented on #369
*I don't feel strongly and I'm not an expert in this field:*

I think for parents who have a premature baby, the GA will be readily available/known to them.

The EDD could be used to calculate the GA, but only if you knew which method was used to determine EDD (LMP vs. US).

Since the other metrics are calculated directly from GA and not EDD, I think it's **best** to use GA if possible.

[2022-01-12 15:42] cdubz commented on #369
@TaddyJ @rbeumer any opinion on the discussion here re: adding GA or EDD as the primary field to track and calculate age data for preemies (since y'all have experience)? @jcgoette has me thinking GA makes sense but having never heard of the term before looking in to this I'm curious if its really something that is readily available to parents of preemies or if EDD is easier.

[2022-01-13 10:13] rbeumer commented on #369
English is not my first language and I live in Europe so the norms may be different for us compared to the USA.

I'm not sure what the difference would be between using GA and expected due date. During pregnancy they calculated the expected due date based on size as seen on the ultrasound pictures in the first 12(?) weeks when all babies are the same size at the same age. In the hospital they used

[2022-01-13 16:55] cdubz opened #373 "Evaluate replacements for Easy Thumbnails"
[Easy Thumbnails](https://github.com/SmileyChris/easy-thumbnails) is a minor requirement for Baby Buddy and is slow on the uptake for Django 4.x, holding Baby Buddy back from upgrading. There appear to be other, more active libraries to consider. Or we could roll our own solution as the requirements are minimal.

Examples:

- https://github.com/matthewwithanm/django-imagekit
- https://github.com/j

[2022-01-14 07:29] nos86 opened #374 "Error during add/edit action for fed and diaper"
Hello,
I recentrly installed this app in my docker server.

When I try to add or edit an entry for fed or diaper change, I receive this error. If I go back to the dashboard however I find the entry.

The error in app is risen at:

Exception Location: /app/babybuddy/core/views.py, line 37, in get_success_message

The invalid character and its position changes every time, so I assume it is not relat

[2022-01-14 13:21] cdubz commented on #374
Curious. Where does that error show up? And how are you running the app in Docker? With Docker Compose? Could you share whatever config you have for the setup as well?

[2022-01-14 14:53] nos86 commented on #374
I'm using the customized version for Home Assistant, in order to install BabyBuddy as a component of home assistant.
Repository is https://github.com/OttPeterR/addon-babybuddy
This will create a container in docker.

Regarding the error, it appears when you submit the data using the button at the end of the form

[2022-01-14 16:23] cdubz commented on #374
Looking at the area where this is triggered the only thing I can think is that something about the child's name is causing this.

https://github.com/babybuddy/babybuddy/blob/5964eed6010403ad36c1dc18b1a07091cd816204/core/views.py#L30-L37

If you are comfortable doing so, could you also share the child name you are using? If you don't want to share, try changing it to something like first name "Chil

[2022-01-15 03:20] nos86 commented on #374
His name is Lorenzo and if I change it with Child One, the situation doesn't change because I receive the same error.

[2022-01-15 03:25] cdubz commented on #374
Ok. I spent some time earlier trying to reproduce this with no luck. I don’t have an HA setup so can’t really test fully. It may make more sense to raise this issue over in the HA addon repo.

[2022-01-15 09:17] nos86 commented on #374
I tried to override the entire method with a:
`return "OK"`
at the start of the method, with no success. So I think the problem is to be searched in the environment. I will try to do additional investigation and may involve the owner of the HA addon repo.

Thank you so much for your availability

[2022-01-15 09:17] #374 closed

[2022-01-15 21:12] cdubz opened #377 "Add "user guide" to documentation"
Ground work for this was started in https://github.com/babybuddy/babybuddy/commit/e0df2751d279514527392083a7d00e025acc273d. Remaining tasks:

- [ ] Add User Guide intro page (content draft ready but needs more... content)
- [x] Create "first launch" video (log in to empty database, preview welcome screen, click "Add Child" and add child).
- [x] Add images to [Navigating section](https://docs.baby-

[2022-01-15 22:56] ocdtrekkie opened #381 "Select list options intermittently invisible when used as a PWA iOS 15+"
Alright, so I'm still trying to nail down what could cause this. We now have a kid and can now test this app thoroughly! We have Sandstorm added to homescreen, so this would be in iOS Safari, with BabyBuddy in a Sandstorm iframe.

My wife reported she could not add a feeding or diaper change because the dropdowns would not populate and could not be changed from default/null selections. Thought it

[2022-01-16 23:48] cdubz opened #379 "Graph selection has unreachable areas on mobile"
![1D7CF4DF-4749-47A4-AB92-55A58EFFAC2C](https://user-images.githubusercontent.com/10456740/149683124-ae720385-bace-4c16-8c58-a855ab590836.jpeg)

It might be time to rethink how to get to graphs generally…

[2022-01-16 23:49] #373 closed

[2022-01-27 17:09] MrApplejuice opened #380 "Feature suggestion: Add user editable tags to "notes"-sections"
# Problem

We find ourselves using the "notes" function quite a bit for writing taking medical notes or other standard findings that we would like to keep track of. These tend to be single-events like "Took a bath" or similar, so very much fitting into the "notes" category. However, for some of them (medical ones especially), they tend to become _very_ repetitive and cumbersome to type out: "Took

[2022-01-28 16:20] cdubz commented on #380
I'm all for tagging but it might be fairly complicated on its own.

Check out this page for a quick list of tagging libraries: https://djangopackages.org/grids/g/tagging/

I'm betting the jazzband offering (https://github.com/jazzband/django-taggit) would be a solid choice.

Note that we are stuck on Bootstrap 4 until I can get time to address upgrading from Tempus Dominus 5 to 6 ([currently in be

[2022-01-29 16:42] MrApplejuice commented on #380
Hey there! Thanks for the thumbs-up :smile: Also thanks for the project links. I did not do any research for projects that might help here myself. django-taggit seems like a nice choice indeed, it even seems to have the REST-Framework calls sorted out, which I was concerned about!

Anyway, I will draft something over the next few days and post updates over here!

[2022-01-30 04:01] alzyee opened #383 "Show type breakdown on feeding_amounts report"
I would like to see the breakdown of various feeding types in the feeding amount report. I don't do much python coding so my code is just a hack to get the thing I wanted as a demo. Ideally it would show only / all the types that have values.

https://github.com/alzyee/babybuddy/commit/34b6ecaf22f84b833cf4a36ebd2aada7e6253fd6

[2022-01-30 16:33] cdubz commented on #383
Sounds interesting and the code looks like a good start, if you open a draft PR I can take a closer look in review.

[2022-01-30 19:59] alzyee commented on #383
I think I see a route to implement the features I suggested. It seems like I can make an array of dictionaries then into an array of traces which can be passed into the  data attribute of the figure. I will make an effort to get the code functioning as described and make a PR.

* show only / all the types that have values
* breakdown of various feeding types

[2022-02-02 03:35] #363 closed

[2022-02-04 21:26] yetdog opened #385 "v1.9.0 update to manual timer edit makes mobile UX worse"
When editing a timer, and tapping on the calendar icon, the time box popup tucks in behind the keyboard on iOS and requires vertical scrolling to realign and thus alter the time.

[2022-02-04 21:33] cdubz commented on #385
Can you share a screenshot and some device details? This has been a pain in the past but I can't repro right now on my smaller screen iPhone SE 2 with iOS 15 -- the calendar popup stays above the keyboard for me.

[2022-02-05 19:44] yetdog commented on #385
Thanks Christopher; sorry for the delay on this. Really appreciate your support. I've attached a couple examples, one for each field (start/finish). It seems the major issue is, even when avoiding tapping on the editable text/time field, and only clicking directly on the calendar icon, the keyboard still comes up and covers part of the interface.

![IMG_4322](https://user-images.githubusercontent.

[2022-02-05 20:12] cdubz commented on #385
Ok yeah I see it now. This is caused by #284   I do want to keep that functionality so will have to fiddle around to see if we can improve this.

[2022-02-06 01:04] cdubz commented on #383
Closed by #384.

[2022-02-06 01:04] #383 closed

[2022-02-09 09:01] netspear opened #389 "Remove/Change Drop-down Options"
Is that a way to remove to change the drop down options when you want to add to a child?

Or example, the children watched are older and don't drink breast milk. Can I remove that as an option in the drop down menu under adding a feeding?

[2022-02-09 20:54] cdubz commented on #389
Not currently -- #79 is essentially the same request I think. Not something I've had time to investigate but I'd be open to PRs.

[2022-02-17 00:30] five2seven opened #393 "CSRF Error (403) When Adding Entry (v1.10.0)"
I can log feedings using a POST (iOS Shortcut) but I can’t create an entry on the actual BabyBuddy site.

![9EDB6A32-1A15-41EE-A72E-6113835FD03F](https://user-images.githubusercontent.com/44069152/154380749-d16a91e8-d321-45ff-825a-3aa21bf7e11f.jpeg)

EDIT: Since I know nothing about Django troubleshooting, I just tried pulling 1.9.3 instead and everything is working normally. So Watchtower must ha

[2022-02-17 02:58] cdubz commented on #393
@five2seven just to be clear — you’re saying that you see this issue in v1.10.0 but not v1.9.3?

[2022-02-17 03:02] five2seven commented on #393
Yep, sorry if I wasn’t clear. The error only shows up with the latest tag (1.10.0).

[2022-02-17 03:07] cdubz commented on #393
Ok no worries. I can’t reproduce in the demo so I imagine this has to be with being behind a proxy. I don’t think anything related to this was touch intentionally in the release but Django did have a major version upgrade. Maybe I missed some new change there. Will take a look.

[2022-02-17 03:11] cdubz commented on #393
This looks like the culprit — https://docs.djangoproject.com/en/4.0/releases/4.0/#csrf-trusted-origins-changes-4-0

Does your configuration support making changes to a configuration file easily? Wondering if we’ll need to add an env var to support this for Docker-based deployments…

[2022-02-17 03:16] five2seven commented on #393
All I have in my Config folder (besides the child photos) is the db.sqlite3 file. The top two folders show empty to me.
![197D8E23-300A-499A-B83E-CE2609615ED4](https://user-images.githubusercontent.com/44069152/154398109-3c32e6da-d877-4497-aee5-7353dbcdf021.png)

[2022-02-17 03:23] cdubz commented on #393
Can you try setting the `SECURE_PROXY_SSL_HEADER` to `True` (or anything, actually) for your deployment? Not sure if this will solve it but it might...

[2022-02-17 04:44] five2seven commented on #393
Looks like that did it! I’ll report back if I see any more errors but so far all functions seem good. Thank you for such a quick resolution and assistance.

[2022-02-17 08:47] kazzaw commented on #393
Just chiming in, had the same issue. Set environment variable as above to True and working fine now

[2022-02-17 13:50] ultrara1n commented on #393
Same here, Baby Buddy running behind a nginx reverse proxy with TLS enabled. The enivornment variable seems to fix it.

[2022-02-17 14:27] cdubz opened #394 "Add documentation about proxy setup"
I'm not quite sure what form this should take but I feel like the docs could use a section of information dedicated to configuration for setting up Baby Buddy behind a proxy. This seems to be a common use case and the only relevant documentation is the bit associated with the [`SECURE_PROXY_SSL_HEADER`](https://docs.baby-buddy.net/setup/configuration/#secure_proxy_ssl_header) environment variable.

[2022-02-18 02:41] alzyee commented on #393
It seems HA Proxy also needs `Use "forwardfor" option.` enabled
It is described as

[2022-02-18 17:12] ErbeckM commented on #393
I am running this docker behind Unraid SWAG reverse proxy and this resolved my issue too. Set this in my babybuddy unraid container variables and it works now

[2022-02-20 08:37] Alberdi commented on #393
The same error appears when trying to login from the default Gitpod installation.

[2022-02-20 10:39] johnnypea opened #395 "Heroku Server Error (500)"
Deployed through Heroku button...

[code]

Strangely, when I set `DEBUG=1` env var it works as expected and app runs.

[2022-02-20 21:59] cdubz commented on #395
I can't reproduce this currently -- could you try again? And if it still happens maybe post the Heroku build log? Not quite sure what else to check if it works with `DEBUG` set 🤔

[2022-02-20 22:10] cdubz commented on #393
Thanks for pointing that out, @Alberdi. That makes this at least a bit easier to try to fiddle around with.

For Gitpod specifically after the deploy you can edit `babybuddy/settings/base.py` to add --

[code]

[2022-02-20 22:29] cdubz commented on #393
I don't think there is going to be any quick/easy fix for all environments with this change... seems we'll need to add some manner of support for setting `CSRF_TRUSTED_ORIGINS` via environment variables and good documentation on when and why it is necessary.

26fa988fe6f00a517e9dbc56d9009ed423c5f9dc takes care of Gitpod, at least.

[2022-02-21 12:25] johnnypea commented on #395
Still not working...

[code]
[code]

[code]

`DEBUG` set to "true" makes it work.

[2022-02-21 12:47] cdubz commented on #395
Ah yeah ok. Collect static does need to be disabled because the static assets are included in the committed files. Last O checked Heroku doesn’t provide a good way to hide or disable changing that option in the button config. It’s an annoying bit of bad UX.

[2022-02-21 16:32] #395 closed

[2022-02-21 19:06] thijsjek commented on #393
I got the same issue, behind a nginx reverse proxy.
But my docker-cli is not resolving the issue.
<details>
  <summary>docker-cli</summary>

[code]

</details>

Any hints what i am doing wrong?

[2022-02-21 19:08] cdubz commented on #393
`SECURE_PROXY_SSL_HEADER` doesn't seem to resolve the issue in ever case. If you set `DEBUG=1` you may be able to see the domain issue and you likely need `CSRF_TRUSTED_ORIGINS` configured (which is not currently possible via environment variables... but I'm working on it).

[2022-02-21 20:52] johnnypea commented on #393
I can't login. Using Cloudflare https://support.cloudflare.com/hc/en-us/articles/205893698-Configure-Cloudflare-and-Heroku-over-HTTPS

Debug error page
<img width="1235" alt="Screenshot 2022-02-21 at 21 47 07" src="https://user-images.githubusercontent.com/169748/155024835-262b3602-52bc-4fb9-86b0-f9c6342eb4bf.png">

[2022-02-21 23:25] cdubz commented on #393
@johnnypea thanks for adding that use case -- this actually gives me a good way to test this issue and ensure (sort of) it stays fixed in the future.  The demo is [now serving HTTPS](https://demo.baby-buddy.net/) and has the same breakage 😄

[2022-02-22 00:24] HarmlessSaucer opened #400 "Photos of children not found after upgrade to v1.10.0"
![Screenshot from 2022-02-22 00-18-49](https://user-images.githubusercontent.com/4380919/155041476-b8e6ce13-5540-4b78-9509-e9f9d63807fd.png)

After upgrading my BabyBuddy to v1.10.0, we are seeing this issue with the photos of the children missing.

For context, we are running as a Docker container on a Ubuntu 20.04 VM, behind NGINX Proxy Manager.  I implemented the Proxy fix as we had that issue,

[2022-02-22 00:31] cdubz commented on #400
CSRF is just the gift that keeps on giving 😭

To be clear, the media image file is (clearly incorrectly) using `https://domain.../` -- that's not something you've changed to obscure the domain?

[2022-02-22 00:37] cdubz commented on #393
Ok `CSRF_TRUSTED_ORIGINS` support is on `HEAD` now and I'm going to cut a new release with that, at least. There is some more stuff I want to do though like configure a custom view to give more useful information but I'll break that out.

[2022-02-22 00:38] cdubz commented on #393
Closing this out -- but please feel free to continue discussion here as needed!

[2022-02-22 00:38] #393 closed

[2022-02-22 00:53] cdubz opened #402 "Create custom `CSRF_FAILURE_VIEW` with details about how to resolve the issue"
Ok `CSRF_TRUSTED_ORIGINS` support is on `HEAD` now and I'm going to cut a new release with that, at least. There is some more stuff I want to do though like configure a custom view to give more useful information but I'll break that out.

_Originally posted by @cdubz in https://github.com/babybuddy/babybuddy/issues/393#issuecomment-1047321280_

[2022-02-22 05:29] thijsjek commented on #393
This did the trick. Just make sure the whole URL is in the env.

`-e CSRF_TRUSTED_ORIGINS="https://baby.{redacted}.com"
`

[2022-02-22 05:30] cdubz commented on #393
Yeah I'll highlight that (whole URL including scheme) in the documentation as well. Will add to #403.

[2022-02-22 07:28] HarmlessSaucer commented on #400
Sorry, yes!  I should have been clearer, my bad.  I obscured the domain, but the same applies when trying with 192.168.1.5 or similar too.

[2022-02-23 08:27] johnnypea commented on #393
I can also confirm this works. It is not very clear from the documentation if you still need `SECURE_PROXY_SSL_HEADER` to make this work.

Maybe you should mention this can be an array as well.

[2022-02-26 04:28] #402 closed

[2022-02-26 13:22] #394 closed

[2022-02-26 14:14] #385 closed

[2022-02-26 14:16] cdubz commented on #385
@yetdog fix is in and will be in next release. Thanks for reporting!

[2022-02-26 14:19] cdubz commented on #389
Closing this in favor of #79 as a feature request.

[2022-02-26 14:19] #389 closed

[2022-02-26 21:31] #379 closed

[2022-02-26 21:38] cdubz commented on #178
Closing as I'm not able to reproduce this. The `timesince` filter is timezone-aware and this appears to be working as expected.

[2022-02-26 21:38] #178 closed

[2022-02-27 00:22] #186 closed

[2022-02-27 00:23] cdubz commented on #186
We have full support for subdirectory hosting now, at least for the example uWSGI + NGINX deployment method. See https://docs.baby-buddy.net/setup/subdirectory/ for details! Happy to add other information for different deployment configurations if people have use cases to share.

[2022-02-27 05:17] bugbountyguy opened #406 "HTTPS doesn't seem to be working...?"
Okay, this is probably just me personally and not a bug, but I just can't get HTTPS to work. My app keeps going straight to HTTP instead even though I've set the few environment variables mentioned on some issues and the docs... Is there something obvious that I'm missing?

Here are the 3 environment variables I set in the `.env` file:
[code]
And my docker-compose:
[code]
I've tried to also have t

[2022-02-27 13:36] cdubz commented on #406
I think it’s normally for the app inside Docker to be on plain http. The important part is the proxy configuration. What are you using? Could you share those configs as well?

[2022-02-27 16:46] bugbountyguy commented on #406
Okay, I guess I thought the gunicorn thing was a proxy of some sort. I would use nginx if I needed to set that up, but my question would be about the https traffic for the app in that case. Since it would need to be on a separate port, is there some configuration required to get the app to listen in on that port so that I can then forward traffic to it? When running `netstat -tupnl`, I only see 80

[2022-02-27 18:09] cdubz commented on #406
Oh wait yeah maybe this should work without something like NGINX in between… I think I just did that yesterday hah.

Will try to find some time soon to test this. I also recommend dropping in the [Baby Buddy gitter](https://gitter.im/babybuddy/Lobby) for advice. Lots of Docker users there.

[2022-02-27 22:01] cdubz commented on #406
Ok so backtracking again... I'm pretty sure this is expected (: Gunicorn is only going to serve up the app over an unencrypted connection so you'll need a proxy like NGINX in front of it to handle SSL and redirect the traffic appropriately.

I'm going to see if I can cook up some quick documentation on this.

[2022-02-27 22:20] bugbountyguy commented on #406
Ah hah okay, that makes sense. I haven't had the chance to tackle this much further today, so documentation would be awesome! Thank you so much for quickly looking into this :D When I get some time to do this on my end too, I'd be more than happy to report how I set it up too if you haven't done the documentation by then (just in case it helps).

[2022-02-27 23:04] #406 closed

[2022-02-27 23:07] cdubz commented on #406
Well you made me curious and caught me at a good time with the little ones napping so I think I got this all documented!

https://docs.baby-buddy.net/setup/ssl/

Give it a go and let me know if you have any trouble/suggestions/additions/etc. There are lots of other ways to do this but this a pattern I am most familiar with. It can also be done all within the `docker-compose.yml` but that seemed a

[2022-02-28 03:03] bugbountyguy commented on #406
Hey @cdubz thanks a ton again for this.

I did modify my docker-compose to work with this and how have HTTPS! For others who may need this, or if you want to add this to future docs, my docker-compose looks like the following:

[code]
I decided to listen in on 18000 (to avoid conflicts w/ another port 8000 service I have)
I have self-signed certificates since I host this on my own network instead

[2022-02-28 03:31] cdubz commented on #406
Cool! This helps me understand better some of the Docker config examples I saw. I should be able to add to the documentation for this method as well.

[2022-02-28 03:31] cdubz opened #407 "Document Docker + NGINX HTTPS config"
Hey @cdubz thanks a ton again for this.

I did modify my docker-compose to work with this and I now have HTTPS! For others who may need this, or if you want to add this to future docs, my docker-compose looks like the following:

[code]
I decided to listen in on 18000 (to avoid conflicts w/ another port 8000 service I have)
I have self-signed certificates since I host this on my own network instea

[2022-02-28 15:18] #407 closed

[2022-03-01 11:28] bjornidar opened #408 "Calendar for activities and events"
It would be great if a calendar was made available for each baby in the app - to put upcoming apointments and activities.

[2022-03-01 16:16] cdubz commented on #408
@bjornidar this sounds similar to #362 -- is that what you're thinking, or something different? I'm open to this but waiting for some more feedback on the idea before moving with it.

[2022-03-01 19:20] bjornidar commented on #408
I was thinking more in the direction of future/ upcoming doctor appointments and similar, shared within the household but not necessarily other/ global Baby Buddy users.
But it might be the same calendar, with an option per registration if it should be "shared global".

[2022-03-01 21:34] cdubz commented on #408
Ok I think this is a separate request for more in-depth "calendaring". #66 and #153 maybe similar/related. This is a bit more complex and not something I'm keen to tackle currently but I am open to further discussions.

One clarification -- what do you mean by "shared global"? There's not much in the way of a permissions model right now in Baby Buddy except for "admin" flag granting access to user

[2022-03-02 09:53] bjornidar commented on #408
A schedule with notification might be sufficent for my request also, not that it should be repetitive but a date and a notification.

I just read that in #362 they would like to share their day-to-day routine with other users --> global/ public/ ... Nothing important to my request really.
No comment/ request regarding the local user permissions :)

[2022-03-04 16:33] HarmlessSaucer opened #411 "500 error when trying to login / 'attempt to write a readonly database' in the logs"
I recently started getting a 500 error when trying to access BabyBuddy.

At first I thought it was related to me using BabyBuddy behind NGINX Proxy Manager, so I updated to using `CSRF_TRUSTED_ORIGINS` in the docker-compose file, but the issue persisted.

[code]

To test this, I turned off all the things related to SSL/NGINX Proxy Manager and accessed it directly through it's IP Address and got th

[2022-03-05 00:40] cdubz commented on #411
Just to be sure, could you post the output `ls -lah /home/graham/docker/babybuddy/*`?

[2022-03-05 14:10] HarmlessSaucer commented on #411
Of course!  Thanks :)

[code]

[2022-03-05 14:13] cdubz commented on #411
Just out of curiosity if you do `chmod 777 /home/graham/docker/babybuddy/data/db.sqlite3` does it work? Just trying to determine if its an actual permissions issue or something else that shows up as a permissions issue 🤔

[2022-03-05 14:17] HarmlessSaucer commented on #411
Yea that was my next logical thought now I have a minute where TV is parenting!  Haha
[code]

Still getting a 500 error when logging in.  I'm about to flip on debug mode again to see what happens.

[2022-03-05 14:22] HarmlessSaucer commented on #411
Well it totally looks like that was it... Now I'm getting 'database or disk full', erorr but that's expected for this test volume I'm doing this on so not surprised.

Not sure what happened to it - I just noticed the permissions on my whole babybuddy folder are wonky, as I can't edit the docker-compose I made now without sudo :thinking: Interesting.

Thank you for your patience and entertaining my

[2022-03-05 14:24] cdubz commented on #411
Glad ya got it (mostly) sorted! I'm not sure what the default permissions are but I imagine you don't want to leave the database `777` 😆

[2022-03-05 14:24] #411 closed

[2022-03-05 22:11] danepowell opened #412 "Track crying and bedtime"
During sleep training, it's helpful to track how long your child cries throughout the night, as well as when you put her down to sleep, regardless of whether she actually sleeps right away or not. I'd like to be able to log crying as an activity similar to feeding, sleep, and tummy time. And I'd like to be able to log "bedtime"... somehow 😄 I'm not exactly sure how that fits in the data model.

Th

[2022-03-06 00:14] cdubz commented on #412
For bedtime you can log sleep entries — they have a start and end timer or you can just start a timer and the entry from the timer.

Crying is a tougher sell. I do think that is the kind of thing #217 is meant to address. We also have #396 coming along nicely and tagging could be used to keep tabs on crying time via notes. What are kind of data are you looking to get?

_P.S. I was convinced I reco

[2022-03-06 22:02] johnnypea opened #413 "How to upgrade Heroku app?"
What is the recommended way to upgrade on Heroku? Thanks.

[2022-03-07 00:12] cdubz commented on #413
Hah... this has never come up before. What version are you on now? I assume you'll need to run some commands but I'd like to test before I advise you 😬

[2022-03-07 07:30] johnnypea commented on #413
@cdubz I reinstalled recently so v1.10.1 🙏🏽

[2022-03-07 18:44] danepowell commented on #412
Thanks for pointing out #396, tagging could really help with this. As long as I have some structured way to categorize an activity, i.e. tagging a sleep activity as "crying" or "bedtime", I can probably filter it in InfluxDB and Grafana (which pull Baby Buddy data via Home Assistant).

I'll close this issue for now while I meditate on this, thanks for the ideas.

_Hah, now that you mention it I th

[2022-03-07 18:44] #412 closed

[2022-03-08 15:08] #380 closed

[2022-03-08 16:44] cdubz opened #415 "Tagging refinements"
Supplemental tasks following the merge of #414.

- [x] [Fix verbose name of Tags model](https://github.com/babybuddy/babybuddy/commit/1398239ecf54c29a87726e9c5fe42bf06bf15c43)
- [x] [Include random tags and instance tagging in fake data generation process.](https://github.com/babybuddy/babybuddy/commit/5159e97affc483a7d7e1a351eaf94b0d62b30bb1)
- [x] #416
- [x]  [Add single tag filter support to co

[2022-03-08 17:18] cdubz commented on #413
@johnnypea surprisingly it seems like there is not actually a great way to do this... the recommended way to checkout the updated code, add your Heroku remote, and push the changes to it. Not quite as easy as the button they give you to start 🤔

See e.g. [How To Update A Deployed App On Heroku](https://dev.to/jessesbyers/how-to-update-a-deployed-app-on-heroku-3fde)

[2022-03-08 17:44] MrApplejuice commented on #415
Yes sure. Wish I could edit the issue, then I could add a task-link to https://github.com/babybuddy/babybuddy/pull/416.

What does "exporting tags" mean?

[2022-03-08 18:00] cdubz commented on #415
Exporting is not well exposed but it is there. If you navigate to the Django admin and load a list view of one of the core models (e.g. Feedings) there is a button available to export the data in various formats.

[2022-03-15 20:48] JoeArcher007 opened #417 "Sleep Patterns showing a 500 error - Exception Type: KeyError"
I'm using the LSIO Docker version of Baby Buddy, but I believe this fits here more than there, though will readily move the bug to there if deemed as such.

Ubuntu 21.10 Host
Docker image: Babybuddy v1.10.2-ls27 (LSIO)

When I go to run a Sleep Pattern report, it give's the 500 server error.  Turned on Debug and this is what is happening:
[code]

Not too sure if others are experiencing something s

[2022-03-15 20:49] cdubz commented on #417
Hm yeah my first guess #174 but this looks potentially different...

[2022-03-16 13:06] JoeArcher007 commented on #417
I can confirm, when I change my user account settings to be UTC, the sleep patterns works correctly. So _it is_ to do with the users time zone affecting the sleep patterns script. All other reports seem to be OK at this time when using a time zone (specifically for me, it's America/Toronto)

[2022-03-16 14:00] cdubz commented on #417
Sigh. Ok. I was kind of hoping it was something else, haha. I still have not had a chance to try to dig in to why this happens and there was some recent refactoring of the sleep graph code that I hoped might magically fix it. But no luck 😆

[2022-03-20 07:08] Nippey opened #419 "Migration from Baby+ App"
Hi,
is there already a tool to migrate the JSON export of the Philips Baby+ app?

I think it is no big deal, but maybe someone already did the work.

Else, I'd be happy to provide the tool later on

BR Nippey

[2022-03-20 11:44] cdubz commented on #419
The “backend admin” of Baby Buddy does a generic import feature that may be able to address this reasonably well.

[2022-03-25 20:34] Nippey commented on #419
Thank you for the hint.
Some search and replace is sufficient.

Height / Head Circumference: Couldn't find these in the backend. Did I miss something?

BR Nippey

[2022-03-25 22:18] cdubz opened #421 "Update import/export support for new models"
Various models have been added recently but we have not kept import/export support up-to-date. We need to determine which models need support and implement it.

[2022-03-25 22:18] cdubz commented on #419
Hm yeah we missed implementing that. I've created #421 to review this generally.

[2022-03-27 12:16] gdoornink opened #423 ""Failed to install add-on" in Home Assistant due to "non-zero code""
Just found this project, and I'm excited to give it a try! I added the repository in home assistant, but when I try to install it I get the following error:

`The command '/bin/bash -o pipefail -c echo "**** install build packages ****" && apk add --no-cache --virtual=build-dependencies build-base curl jpeg-dev libffi-dev libxml2-dev libxslt-dev postgresql-dev python3-dev zlib-dev' returned a non-

[2022-03-30 16:11] cdubz commented on #423
Hi, @gdoornink -- the HA integration is managed by @jcgoette over at https://github.com/jcgoette/baby_buddy_homeassistant. You may be able to get some more useful responses there.

[2022-03-30 16:43] cdubz commented on #423
Thanks for sorting me out, hah. Someday I will learn about HA myself...

[2022-04-01 11:15] myxor opened #425 "Diaper change frequency statistics"
Hello,

why is there a statistic entry for "Feeding frequency (past 3 days)" and "Feeding frequency (past 2 weeks)" but these two timespans are not existing for "Diaper change frequency" statistics?

For me it would make sense to have these timespans as well.

[2022-04-01 13:15] myxor opened #426 "Diaper change without wet/solid"
For me it makes sense to add a diaper change event without selecting any of _wet_ and _solid_ types.

We sometimes change the diaper for the child to feel more fresh even though nothing is actually in it.

I would like to still keep track of these changes but currently it is not allowed to add such an event without selecting wet and solid state.

[2022-04-01 15:12] cdubz commented on #426
I suppose this seems reasonable enough. Tracking "diaper changes" is really meant more as a proxy for tracking the baby's bodily functions but that doesn't necessarily mean we have to enforce in this way. I'm open to PRs for this but be aware that there may be assumptions made throughout the app about the presence of those fields beyond just there required-ness in the model.

[2022-04-01 16:28] cdubz commented on #425
Only because the work hasn't been done! 😄 I'm open to PRs to add those statistics.

[2022-04-02 14:10] #425 closed

[2022-04-03 04:31] kdrobnyh commented on #400
Can confirm that, have the same problem. According to [Django's documentation](https://docs.djangoproject.com/en/dev/howto/static-files/#serving-uploaded-files-in-development), serving user-uploaded media files is not suitable for production use. A possible workaround would be to add NGINX or something similar to Docker. I can potentially do it. @cdubz, what do you think?

[2022-04-03 20:22] cdubz commented on #400
@kdrobnyh yeah but it has been that way forever and this has worked without issue. The images work fine in Django 3.2 but not in Django 4.0 even though the releases notes say nothing about changes in this area. It's odd.

I'm open to whatever works for Docker folks. Note that https://github.com/linuxserver/docker-babybuddy is where the Docker configuration lives. The LSIO folks may also have some

[2022-04-03 22:08] cdubz commented on #400
FYI I did some more research on this and found that this SO solution works -- https://stackoverflow.com/a/64218998 -- but it seems that nginx is the way to go. I've talked to the LSIO folks about this and it sounds like that's a workable solution.

In the meantime a workaround is to set `ENV=True` for the container.

[2022-04-04 02:44] kdrobnyh commented on #400
Yeah, I use that for now, but don't want to. Let me know if any help is needed here, since I use Babybuddy in a Docker container anyway for my setup.

Basically, I would like to help with all Docker and MaridDB related issues.

[2022-04-04 02:49] kdrobnyh commented on #154
@cdubz, what else is needed to close the issue?

[2022-04-04 03:02] cdubz commented on #400
@kdrobnyh the LSIO folks are working on this now over in https://github.com/linuxserver/docker-babybuddy/pull/17 -- we tend to collaborate on their Discord server instead of in the PR so you're welcome to hop on there or comment on the PR if you have any feedback. Thanks!

[2022-04-04 03:07] cdubz commented on #154
Well for Docker it seems we are covered based your experience. I think the only thing maybe worth doing is adding some notes to the documentation about how to configure for Docker and how to do this for non-Docker deployments. Maybe this could be documented under https://docs.baby-buddy.net/setup/configuration/#db_engine or maybe it needs its own separate subsection of Setup?

[2022-04-04 17:16] aptalca commented on #400
@kdrobnyh can you give this image a test? `lspipepr/babybuddy:v1.10.2-pkg-4f0935db-pr-17`
You can also set the env var `CSRF_TRUSTED_ORIGINS="http://127.0.0.1:8000,https://babybuddy.domain.com"` if necessary

[2022-04-04 21:13] kdrobnyh commented on #400
@aptalca it works, thank you! One concern: since Babybuddy's media files are mounted in /config in Docker, this image creates a bunch of new files/folders there. Basically, NGINX logs, site configurations, PHP settings, etc. are stored on my computer outside of the container and added to the container as a volume. Maybe a good solution would be to change path of babybuddy media files?

[2022-04-04 21:29] aptalca commented on #400
Thanks for the confirmation.

That's intended behavior. All those files are either meant to be user accessible or user customizable.

All the files that need to be persistent are neatly stored in the same top folder `/config`.

[2022-04-04 21:38] kdrobnyh commented on #400
Thanks for the clarification!

[2022-04-04 22:05] kdrobnyh commented on #154
The way I see it is having a separate subsection, since it requires a separate database setup.
For Docker I use the following:
1. Create a new user and group in the system.
2. Run `mysql_tzinfo_to_sql /usr/share/zoneinfo | sudo mysql -u root mysql`, it does not work otherwise.
3. Create a new user and table in MariaDB using commands similar to ones you mentioned before:
[code]
4. Create environmen

[2022-04-04 22:11] cdubz commented on #400
Thanks, @kdrobnyh and @aptalca! Looks like we're good to go now with [v1.10.2-ls31](https://github.com/linuxserver/docker-babybuddy/releases/tag/v1.10.2-ls31) 🥳

[2022-04-04 22:11] #400 closed

[2022-04-04 22:14] cdubz commented on #154
Thanks, @kdrobnyh this is a great start. I'll give it a try and work on starting a documentation section soon. For the non-Docker deployments I suspect there are also some additional system packages that will need to be installed but that should be easy enough to figure out.

[2022-04-04 22:30] kdrobnyh commented on #154
Oh, small comment: `/run/mysqld/mysqld.sock` might be in a different place, depending on your system.
I believe that the only package needed is `py3-mysqlclient`, package name is also system-specific.

[2022-04-05 03:08] #421 closed

[2022-04-05 03:42] cdubz commented on #159
Closed by #409.

[2022-04-05 03:42] #159 closed

[2022-04-07 20:10] myxor opened #432 "Feature request: Support for tea and water as feeding type"
Feature request: Support for tea and water as feeding type.

Or are these supposed to be logged as "formula"?

[2022-04-10 09:24] rubenixnagios opened #434 "catalan translation"
Hello there, dont't know if that's the correct place to post this.
I already updated catalan translation onto POEditor, can you please merge it? do I need to create a Pull request?
thanks for this piece of software, I love it ;P

[2022-04-10 22:40] cdubz commented on #434
Thanks for contributing, @rubenixnagios! I've opened #436 to capture your translation work from POEditor.

[2022-04-10 22:40] #434 closed

[2022-04-12 21:42] cdubz commented on #417
No progress yet 😞 Closing this as a duplicate of #174 -- the workaround is to fudge any entries that have a date bound a time effected by daylight savings.

[2022-04-12 21:42] #417 closed

[2022-04-13 16:05] xiiran opened #439 "Missing "timer" field documentation in openapi schema"
Hello,

I noticed that the documentation of the 'timer' field which was introduced here https://github.com/babybuddy/babybuddy/commit/d6cb6dc122c493460cadfec1bffbfa43d6c63b0e is missing in the openapi schema file.

[2022-04-13 20:37] cdubz commented on #439
Nice catch. The file is generated by DRF's `generateschema` command documented here: https://www.django-rest-framework.org/api-guide/schemas/

I'm guessing we'd need to customize the schema data to add information about the timer attribute. Not totally sure though.

[2022-04-15 00:13] kazzaw opened #440 "Sleep Pattern giving 500 Internal Server Error"
Probably goes back a couple updates now, but the wife has reported that attempting to access the Sleep Pattern gives a 500 Internal Server Error

[2022-04-15 15:12] cdubz commented on #440
This most likely #174 -- you can get a little more info if you set the `DEBUG` environment variable to something truthy and hit the page again.

[2022-04-16 01:22] kazzaw commented on #440
Hi, yes, appears to be that issue according to logs.

Probably could correlate to DST ending here, I've probably only been using BB since DST was active.

For reference

`KeyError at /children/frankie-baby/reports/sleep/pattern/

'2022-04-16'

Request Method: 	GET
Request URL: 	https://baby.domain.id.au/children/frankie-baby/reports/sleep/pattern/
Django Version: 	4.0.2
Exception Type: 	KeyError
E

[2022-04-16 03:06] cdubz commented on #440
Yeah sorry. Some damn day I will deal with #174... :goberserk:

[2022-04-16 03:06] #440 closed

[2022-04-16 03:56] #426 closed

[2022-04-22 13:11] myxor opened #446 "API endpoint list missing port?"
I have installed babybuddy on port 8027 via nginx redirect to the bb default port 8000 via linuxserver/docker-babybuddy container.
When i call the API endpoint list on http://192.168.200.2:8027/api/ i get back the list of API endpoints like follows as JSON response:

`{"children":"http://192.168.200.2/api/children/","changes":"http://192.168.200.2/api/changes/","feedings":"http://192.168.200.2/api

[2022-04-22 15:31] cdubz commented on #446
Also this is not quite the same but maybe related... https://stackoverflow.com/questions/29055172/port-proxy-for-nginx-gunicorn-django-rest-framework-app

It does seem odd there is _no_ port on the response. Seems more likely you might get the wrong port, hah. Maybe also include your nginx config for reference.

[2022-04-22 20:28] myxor commented on #446
I tried the `proxy_set_header Host` solution from stack overflow but it did not help.

My nginx config part:

[code]

docker-compose.yaml file part:

[code]

So i tried different proxy_set_header Host settings but none really changed anything on the addresses in the API endpoint list.

[2022-05-04 00:27] upuldi opened #448 "Feature Request: Show advanced graphs and statistics."
Things like

1. Feeding change over time.
2. Napping duration changes over time.
3. etc

[2022-05-04 08:29] a-camacho opened #449 "Indicate user locked state and allow unlocking from users admin"
Hi guys,

No information about how to unlock users after some login attempts.

Finally found the information in Google.
What I did is I downloaded sqlite database, and removed all access_logs from AXES table, and it works.

Could you maybe create a script or at least document it in documentation ?

Thanks a lot !

[2022-05-04 20:35] Munksgaard commented on #190
:+1: for this feature request, would be very helpful.

[2022-05-05 18:38] myxor commented on #448
I started implementing reports for feeding intervals over time and diaper changes intervals over time here: https://github.com/babybuddy/babybuddy/pull/444

[2022-05-08 15:47] alzyee commented on #448
I used a rolling sum of the last x hours but it looked pretty noisy and I wasn't sure how to clean it up.
e.g.
* for 5 hour rolling sum
* value at 6am is sum of feeding in 1-6am
* Value at 7am is sum of am 2-7

[2022-05-10 23:08] cdubz commented on #446
@myxor could you take another look this issue now that https://github.com/linuxserver/docker-babybuddy/pull/19 is merged?

[2022-05-10 23:11] cdubz commented on #449
@a-camacho sorry for the delay on this -- it would be ideal to add this to the [users management area](https://demo.baby-buddy.net/users/) of the app instead of relying Django's backend so I'm going to treat his issue as a feature request for that (as opposed to documentation).

[2022-05-10 23:15] cdubz commented on #448
I've actually been thinking recently about _removing_ graphs and letting people use third-party tools and Baby Buddy's API for greater flexibility. I know some users have used e.g. [Grafana](https://grafana.com/) for this.

That said until I have more firm plans around that I'm happy to review and consider PRs for new graphs! I'll watch out for your PR to be review ready, @myxor.

I'm going to con

[2022-05-14 16:14] upuldi opened #453 "Feature request: Migrate to PostgresSQL from default SqlLite"
If we can give some scripts to allow users to migrate their choice of database, it would be great.

[2022-05-16 07:28] myxor commented on #446
Manually changing the mounted file `/config/nginx/site-confs/default` (as described here: https://github.com/jcgoette/baby_buddy_homeassistant/issues/60#issuecomment-1127126277) and restarting the container fixes the problem! thanks everyone!

[2022-05-16 11:53] #446 closed

[2022-05-20 08:28] kdrobnyh commented on #453
I believe it's out of scope of the application. You can use [dump](https://www.sqlitetutorial.net/sqlite-dump/) to dump the database and then execute query (`psql -f script.sql` in case of PostgreSQL) to restore it.

[2022-05-22 08:45] upuldi opened #455 "Feature Request : Ability to add custom activities."
If we can add new custom activities and track them it would expand the functionality of the application. This will be useful for tracking crying times for colic babies.

[2022-05-22 19:40] cdubz commented on #455
This request is covered by #217. Someday I'll get to this... or be happy to get a PR for it (:

[2022-05-22 19:40] #455 closed

[2022-05-22 19:40] cdubz commented on #453
Agreed this out of scope -- moving to discussions.

[2022-05-28 20:50] cdubz opened #460 "Add form for managing tags"
Currently tags can only be managed in the Django admin interface. Baby Buddy should have a simple tag management UI for admin users to rename, delete, add, and set the color of tags.

[2022-05-28 20:52] cdubz commented on #415
Closing this up! I broke out #460 as a future enhancement.

[2022-05-28 20:52] #415 closed

[2022-05-28 21:10] cdubz opened #462 "Move demo and PR deploys to new service"
After a few weeks waiting out the [Heroku Dashboard fiasco](https://status.heroku.com/incidents/2413) I moved the demo and PR environment for [Baby Buddy to Render.com](https://github.com/babybuddy/babybuddy/pull/457). At the time I did not realize that Render.com's setup only allows for a single database instance, limiting the usefulness of PR environments because changes to the database in PRs w

[2022-05-29 03:01] ocdtrekkie commented on #432
I've definitely noticed it was a challenge to mark things that weren't formula in here. Pedialite, cereal, etc. It looks like the tagging feature has landed... so maybe this is addressed in the latest now? (Would spinning a Sandstorm package for this be a lot of trouble?)

[2022-05-30 05:15] cdubz commented on #432
@ocdtrekkie v5 is submitted! I didn't test upgrade path so... tread carefully (:

[2022-05-30 05:15] #432 closed

[2022-05-30 05:34] ocdtrekkie commented on #432
Thanks! I will upgrade a backup grain first.

[2022-06-03 17:18] Alberdi opened #467 "Can't filter notes by capitalized tags"
I want to thank everyone involved in the new tag support; it's very useful!

When I try to filter the "Notes" by tag it doesn't find any:
https://user-images.githubusercontent.com/1556349/171914065-0a6f5462-7dda-4088-9ecb-e0748f75b706.mov

[2022-06-03 17:59] Alberdi opened #468 "Minutes instead of minutos in Spanish"
When using the app in Spanish, the "since" times in the home cards aren't properly translated and display "minute(s)" instead of "minuto(s)".

I think this broke around version 1.10 and I don't think we have anything wrong in the Spanish django.po/mo files, but I'm probably wrong.

<img width="456" alt="Screenshot 2022-06-03 at 19 54 15" src="https://user-images.githubusercontent.com/1556349/17192

[2022-06-03 18:04] Alberdi opened #469 ""No notes found" background doesn't extend to the Tags column"
See picture when opening the Notes list without any note:
<img width="1417" alt="Screenshot 2022-06-03 at 20 01 55" src="https://user-images.githubusercontent.com/1556349/171920883-b6ba620d-67d4-4bff-88ea-e988e223951a.png">

It also seems like the presence/absence of that background varies per screen, so we might want to normalize that.

[2022-06-03 18:07] Alberdi opened #470 ""Recently used" shouldn't appear if no tags were recently used"
It looks a bit strange if there are no tags:
<img width="781" alt="Screenshot 2022-06-03 at 20 06 13" src="https://user-images.githubusercontent.com/1556349/171921438-2e8559bf-7780-486f-96d5-30c21590e489.png">

Also, the text below could change to reflect that state.

[2022-06-03 18:11] Alberdi opened #471 "Suggestion: display tags in the tag input view"
Disclaimer: I'm totally not a UX expert nor a web frontend developer.

At the moment there's an empty line above the tag input so the added tags end up there, and that looks a bit strange when it's empty:
<img width="781" alt="Screenshot 2022-06-03 at 20 06 13" src="https://user-images.githubusercontent.com/1556349/171921899-028314c3-3a47-4e08-8016-8068b84ed8f4.png">

Instead of simply removing it

[2022-06-04 04:01] amorphobia opened #472 "Handle plurals with `count` tag of `blocktrans`"
Currently, several plurals are generated with `pluralize` filter. I found it wired when translating to Chinese.

Usually, nouns do not have plural forms in Chinese, and the `%(plural)s` term will append an extra "s". However, if I delete `%(plural)s` in the `msgstr`, it would not pass the checker and leave original English message there.

Instead, if `count` tag is used, it can be solved by only t

[2022-06-04 23:56] cdubz commented on #467
Interesting. I can't reproduce this in the [demo](https://demo.baby-buddy.net/). Does the filtering work for tags in other entry types?

[2022-06-05 00:02] cdubz commented on #468
Looking at [`dashboard/templates/cards/sleep_last.html`](https://github.com/babybuddy/babybuddy/blob/master/dashboard/templates/cards/sleep_last.html) and [`dashboard/templates/cards/sleep_day.html`](https://github.com/babybuddy/babybuddy/blob/master/dashboard/templates/cards/sleep_day.html) (where this does work) it looks like the "last" card just needs to be updated to use [`duration_string`](ht

[2022-06-05 00:39] cdubz commented on #469
This is set by the `colspan` attribute in each of the core `*_list.html` templates (e.g.[ `core/templates/core/note_list.html#L64`](https://github.com/babybuddy/babybuddy/blob/master/core/templates/core/note_list.html#L64)). Any that are wrong just need to be updated with the correct `colspan`. They are probably all wrong now because of the tags updates (:

[2022-06-05 00:43] cdubz commented on #471
I agree this would be nice. It looks a good bit more complicated than the current approach though. Metro appears to use a `input`-like container, the real `input`, a `span` for each tag, and a separate entry `input` container. Happy to consider PRs for this.

[2022-06-05 00:47] cdubz commented on #470
This could be pretty easily achieved by wrapping the "recently used" container in a conditional but the field description ("Click on the tags to add [...]") is actually a little tougher. There's not really an existing pattern for including/excluding that and the field display logic is very generic.

Relevant places to hack on this --

- https://github.com/babybuddy/babybuddy/blob/master/core/templ

[2022-06-05 01:55] cdubz commented on #472
Interested -- I didn't know about the `count` tag. This does look like a better solution and I'd take PR for it. Breaking other translations is unfortunate but I think it's worth using this as a better approach anyway.

[2022-06-05 08:34] Alberdi commented on #467
It only seems to happen when the tag has the first letter capitalized! Also in other entry types.

[2022-06-05 10:08] Alberdi commented on #467
I guess it happens when the name of the tag doesn't match the internal slug. Maybe related to this: https://github.com/babybuddy/babybuddy/blob/379f9b1e867c0b5670b290762460189abc1e2433/core/filters.py#L10

[2022-06-05 12:44] cdubz commented on #467
Nice — thanks for figuring that out. I can reproduce as well.

[2022-06-05 13:35] cdubz commented on #472
#473 is merged. Thanks for contributing!

[2022-06-05 13:35] #472 closed

[2022-06-05 13:48] cdubz commented on #462
The demo is now hosted on Railway.app. The Railway deploy button flow does not work as intended right now (an initial deploy doesn't happen after clicking the button) but there will apparently be updates to the template system next week that may resolve this.

The only other downside I have encountered so far is that the [`railway run` command](https://docs.railway.app/reference/cli-api#run) actua

[2022-06-08 08:34] MrApplejuice commented on #471
At my 9-5 we use bootstrap-vue and [form tags](https://bootstrap-vue.org/docs/components/form-tags/). When I was originally developing this feature, I was thinking of using them, but I was not able to find them in a way so that they were suitable to be included in "vanilla JavaScript". Since there is (was?) no real webpack or JavaScript packaging in the build-toolchain it was a quite big task to i

[2022-06-08 12:07] cdubz commented on #415
Nice! Thanks for bringing the idea and contributing (: This issue ended up being a nice excuse to catch up a bunch of tests, documentation, and API features that had been lagging behind with other recent additions as well so I was glad to work on it.

[2022-06-08 12:13] cdubz commented on #471
Yeah I am very hesitant about rebuilding the development pipeline or frontend. Gulp and a mash of committed static assets has actually served Baby Buddy quite well over the years…

However I have just started a local branch to work on moving to BS5 and a more native datetime picker. I think the changes to the datetime picker make a legitimate case for opening a “v2” branch and then maybe something

[2022-06-12 09:08] amorphobia commented on #381
I encountered this issue, too.

I recognize that the bug is on iOS side, but can we have a workaround, use something like [radio toggle buttons](https://getbootstrap.com/docs/5.0/forms/checks-radios/#radio-toggle-buttons) instead of dropdowns?

[2022-06-12 15:14] cdubz commented on #381
I’m open to ideas here. I don’t know if radio toggles are really the answer but I’d be happy to test a PR if someone wants to try it out. Keep in mind we are stuck on BS4 due to the datetime picker library so we can’t use BS5 components.

[2022-06-13 02:07] #467 closed

[2022-06-13 02:24] #469 closed

[2022-06-14 17:04] DanBeard opened #483 "Unit tests fail on fresh dev install on Ubuntu"
Unit tests fail on fresh development install. This originally happened on my box with Ubuntu 20.04.4. I figured it might have been something weird in my local python dev environment. I wanted to start fresh and try out PopOS, so I reformatted my machine and saw the same failures on a brand new fresh OS install.

OS:  PopOS 22.04 (based on Ubuntu 22.04) and Ubuntu 20.04.4
Steps to reproduce:

1. cl

[2022-06-14 17:33] cdubz commented on #483
Huh... those failures are bizarre. I'll give this a try in a fresh environment.

[2022-06-14 17:36] DanBeard commented on #483
It looks like the edit post isn't working? Looking at FormsTestCaseBase, The refresh still shows the old value. Maybe a timing issue?

[2022-06-14 17:57] cdubz commented on #483
Test working for me testing on Digital Ocean droplet with Ubuntu 20.04.4.

[code]

[ubuntu-20.04.4-lts.log](https://github.com/babybuddy/babybuddy/files/8902682/ubuntu-20.04.4-lts.log)

Will try 22.04 next. Anything else about your setup that may have an effect here?

The steps to get set up do seem a bit dated, I had to fiddle with pipenv and stuff to get it installed and happy. Maybe some differ

[2022-06-14 18:22] cdubz commented on #483
Tests also working on Digital Ocean droplet with Ubuntu 22.04.

[code]

[ubuntu-22.04-lts.log](https://github.com/babybuddy/babybuddy/files/8902822/ubuntu-22.04-lts.log)

Note in the above log I include my entire session from a fresh Ubuntu 22.04 install. Maybe you can spot some difference in Python or pipenv setup steps?

[2022-06-14 18:26] cdubz commented on #483
Looks to be almost exactly the same in Ubuntu 22.04 test I just did --

[code]
[pipenv.log](https://github.com/babybuddy/babybuddy/files/8902867/pipenv.log)

[2022-06-14 19:14] DanBeard commented on #483
yeah i did a GET and it still showed the old temp value. something really fishy is up.

Now that you mention it it's usually those tests, but after running it a few times sometimes I get these additional failures and errors:
[failures2.log](https://github.com/babybuddy/babybuddy/files/8903153/failures2.log)

this definitely feels like a timing or caching or env issue. The only differences I saw fr

[2022-06-14 20:12] cdubz commented on #483
No, sorry for the confusion -- I did do that before running the `gulp` commands but I had to hack together my log a little bit to remove some mistypes haha.

For trying to task down exactly what is going on... I think there is some way to just spew out the whole page content after the `POST`. I'm curious to know if the page has some error on it that could give us more useful information...

[2022-06-14 20:22] cdubz commented on #483
Ok yeah this was my guess... when I `print(page.content)` after running that `POST` there is an error on the datetime field of "Enter a valid date/time."

[2022-06-14 20:38] cdubz commented on #483
Not seeing any obvious reason for this... running all the form tests at once also passes.

[code]

@DanBeard could you test that and see if you still get fails?

[2022-06-14 21:02] cdubz commented on #483
More oddness... if I remove the first three test cases specifically (`InitialValuesTestCase`, `BMIFormsTest`, and `ChildFormsTestCase`) I can (consistently) reproduce more of the random test fails you get even when running the full group.

Removing any of those cases individually or any other combination of cases appears to have no effect at all (i.e., running as a group passes and running just `D

[2022-06-14 21:45] cdubz commented on #483
Ok so it looks like this relates in some manner to #335 and #337, unfortunately. These issues had to deal with customizing how Django handles datetime formats in order to be better support 24H overrides and datetime handling in the frontend with moment.js.

If a comment out the special handling added for those issues (below) tests pass no matter how they are run.

https://github.com/babybuddy/baby

[2022-06-14 22:55] DanBeard commented on #483
Nice! Can confirm that commenting out those lines solves it for me locally.

Not sure how you figured that out but at least I can run the tests now locally for another feature that my wife request :sweat_smile:

[2022-06-14 23:42] cdubz commented on #483
Haha, far too much time spent working on this app! (: Date time issues were my first guess when this came up and that (relatively) recent change to the format handling was a pretty clear potential culprit.

I wonder if in the short term I can come up with some way to short-circuit that for tests... 🤔 At the moment I have no idea how to solve for this. I'd bet there are actual bugs hiding away some

[2022-06-22 04:26] bbgth opened #488 "Unable to add tags to notes via API"
With the new tags functionality implemented, I am trying to tag a note that is submitted through iOS Shortcuts (using Baby Buddy's API). When I do that, I get this response back from the server once I have done the POST

`{"id":97,"tags":["TestTag"],"child":1,"note":"Test notes","time":"2022-06-22T10:16:28.607573+00:00"}`

When I look it up in the notes on the website, I only see the notes (Test n

[2022-06-28 02:59] cdubz commented on #488
@bbgth I have confirmed this isn't working. Thanks for reporting!

[2022-06-28 13:10] cdubz commented on #381
In the mean time someone has created a very detailed bug report for this: https://bugs.webkit.org/show_bug.cgi?id=238318

Hopefully that helps move the issue along 🤞

[2022-06-28 13:58] #488 closed

[2022-06-28 14:19] cdubz commented on #488
This is fixed in the latest version v1.11.2. Thanks, again!

[2022-06-28 18:26] qirk4 commented on #34
This would be a really nice feature!
I'd like to see the weight data too on the dashboard.

[2022-06-29 02:14] cdubz opened #492 "Improve asset minification"
### Discussed in https://github.com/babybuddy/babybuddy/discussions/491

<div type='discussions-op-text'>

<sup>Originally posted by **gbballpack** June 28, 2022</sup>
Using Cloudflare with Baby Buddy, Baby Buddy running inside of Docker with an external reverse proxy, Cloudflare is able to minify about 80 KiB from the vendor JS file.

Would it be possible to have everyone run a minified vendor JS

[2022-06-30 12:36] cdubz commented on #256
Looks like using the Python Setup action cache has stabilized this issue.

[2022-06-30 12:36] #256 closed

[2022-07-02 08:40] farfade opened #493 "One user does not see the "Pumping entry" menu, the other one does"
Hello,

First of all, thank you for this great app :)

With 1.11.2,  I've got a setup with two users.

Everything works correctly, excepting that one user sees the menu list "pumping entry" whereas the other does not.

Promoting the user as staff user does not have any impact.
Changing the locale does not have any impact.

Any idea ?

Cheers,

farfade

[2022-07-02 08:55] farfade commented on #493
Could it be related to permissions problem in [babybuddy/templates/babybuddy/nav-dropdown.html](url) ?

[code]

But how to grant such permissions ?

[2022-07-02 15:46] cdubz commented on #493
Hmmm I haven’t worked in permissions in a while but I’m pretty sure that’s unintentional. I’m reopening this as a bug and will take a look at it.

[2022-07-05 07:38] a-camacho commented on #449
Thanks for your reply, good idea ;)

[2022-07-07 12:22] cdubz commented on #381
@ocdtrekkie check out #494! Looks like this approach will help workaround this issue and I like that its not _just_ because of this iOS bug.

[2022-07-11 21:12] gbballpack opened #496 "Fix for Django Framework SQL Injection vulnerability"
According to the advisory, "Trunc() and Extract() database functions were subject to SQL injection if untrusted data was used as a kind/lookup_name value."

At a quick glance at the code, I could not find Trunc() or Extract() database functions called directly, but I am admittedly not all that familiar with the Django Framework. From my understanding, even if Baby Buddy is subject to this SQL inje

[2022-07-13 16:30] cdubz commented on #496
Thanks for the note. This is addressed in the latest round of dependency updates (see https://github.com/babybuddy/babybuddy/commit/a51dbf370e3e4a710bf639c20ce3dc2d4c16cd6e).

[2022-07-13 16:30] #496 closed

[2022-07-20 00:51] MiguelCosta opened #498 "DateTime fields don't load the current values or fail to validate in some languages"
Hi,

Every time I need to edit an entry or create a new one, the DateTime fields are always empty when I'm using the Portuguese language. If I switch to English the problem does not occurs.

Can you help?

Screen recorder:
https://photos.app.goo.gl/A1bMnKrregQTUNii9

[2022-07-20 14:51] cdubz commented on #498
Thanks for reporting and for the video. I can reproduce in the demo and it doesn't seem to be an issue for other locales. Will take a look when I can.

[2022-07-20 16:29] gardncol opened #499 "Add a way to set the SMTP configuration"
As a babybuddy admin I need a way to send password reset emails so that I can recover if I or other users lose access to the service.

I would like a way to set the SMTP values with the Docker installation. This would allow the password recovery to function after proper set up, which at this point there is no straightforward way to do.

[2022-07-21 01:39] jimbolimbo13 commented on #499
Looks like it's not as simple as just setting the right Django settings. I mounted /app/babybuddy/babybuddy/settings/base.py to a modified copy in the docker-compose directory and added EMAIL_BACKEND and EMAIL_HOST (I have a local SMTP server in another container, so I don't need a password, TLS, etc).

However, going to request a password reset, throws a 500 error, and after enabling DEBUG, I get

[2022-07-21 01:41] cdubz commented on #499
Thanks for the debugging info. It has probably been like four years since I tested SMTP delivery so it’s entirely possible it’s totally broken 😬

[2022-07-28 14:11] HarmlessSaucer opened #501 ""Child" dropdown intermittently not accessible when used in PWA mode on iOS"
When using Baby Buddy in PWA mode on iOS, the "Child" dropdown is intermittently not accessible.

Example process:
- Press the icon to quick start a timer.
- Press the edit button.
- Tap on the "Child" dropdown.

At this point, every few times, nothing happens in response.  All other elements on the page respond as expected.
If you swipe up on the iOS device to get into multi tasking then close th

[2022-07-28 14:15] ShaneK commented on #501
This is a [known issue with iOS](https://github.com/babybuddy/babybuddy/issues/381)

[2022-07-28 14:18] HarmlessSaucer commented on #501
Damn.  Apologies!  I just spent a few mins going through the issues, but obviously my search terms weren't good enough and I missed this! 🤦 Thanks!

[2022-07-28 14:18] #501 closed

[2022-07-28 14:37] cdubz commented on #501
#494 will be a convenient workaround for this issue. I’ll try to get a new version out with that one today or tomorrow.

[2022-07-29 00:06] lukyjay opened #503 "Nap vs sleep"
Hi

Some of my sleep entries are being recorded as 'naps' and others as 'sleep'. It seems to depend on whether it comes from the Home Assistant addon or directly from BabyBuddy interface. Neither of these interfaces offer the option of selecting nap vs sleep as far as I can see.

The nap function appears to be pointless. What is the difference between nap and sleep?

My suggestion is to remove the

[2022-07-29 00:18] cdubz commented on #503
Nap classification is based on the [`NAP_START_MIN`](https://docs.baby-buddy.net/setup/configuration/#nap_start_min) and [`NAP_START_MAX`](https://docs.baby-buddy.net/setup/configuration/#nap_start_max) settings for the app. #325 made the classification in to a field and there was meant to be a follow-up PR to make it togglable by the user but that work never happened.

If you look in to you'll fi

[2022-07-29 00:28] lukyjay commented on #503
I agree naps are important and see the why every parent should know about them. I raised this issue to question the need for a seperate 'nap' function in BabyBuddy, and if it is needed, to raise some concerns on how it is currently implemented.

I'd be happy to track my naps as 'sleep' and will know that they are naps via their shorter duration.

To summarise some defects for the 'nap' implementat

[2022-07-29 02:05] lukyjay commented on #503
Pending #504 being successful, outstanding suggestions from this issue:

1. Sleep entries appear to default as 'naps' if there is no nap data provided (e.g. the Home Assistant addon doesn't provide any data on whether nap is 'true' or 'false', so BabyBuddy defaults all sleep entries to true (shouldn't nulls always default to false?))
2. No information in the BabyBuddy documentation on the 'nap' fe

[2022-07-29 02:48] cdubz commented on #503
@lukyjay thanks for the PR -- the changes needed here are a bit more complicated (see my review in #504) so let me know if you are interesting in continuing work on the PR. If not someone else may want to pick it up or I will get to it eventually. I do think this worth addressing.

[2022-07-29 03:14] lukyjay commented on #503
I'm struggling for time with the newborn at the moment and that's not something I can complete without spending more time learning. I will make a donation to the project through Github instead, hopefully it can compensate for the hard work you've done so far and help you work on this. Thanks again for everything.

[2022-07-29 14:59] cdubz commented on #462
In the end we returned to Heroku 🤷

[2022-07-29 14:59] #462 closed

[2022-07-30 13:12] cdubz commented on #493
I'm not able to reproduce this -- creating a user via the interface the user has all the correct default permissions (i.e., you shouldn't need to grant any additional ones). Feel free to reopen this ticket if you come with steps to reproduce.

[2022-07-30 13:12] #493 closed

[2022-07-30 21:22] #499 closed

[2022-07-31 16:21] MiguelCosta commented on #498
Sorry, the version 1.12.0 doesn't resolve the bug ☹️

Can you reopen the issue?

![BabyBuddy](https://user-images.githubusercontent.com/645482/182035828-1159a2ec-0dc9-4c1b-881c-d655bd51e8b6.gif)

[2022-07-31 16:28] cdubz commented on #498
@MiguelCosta this will be in the v1.12.1 release. I'll make that one in the next week or so -- just one other thing I want to track down before I do.

[2022-07-31 16:28] cdubz commented on #498
If you're curious to confirm the fix the change is in the demo instance if you want to test there: http://demo.baby-buddy.net/

[2022-07-31 19:09] MiguelCosta commented on #498
Thanks!!!

The demo (http://demo.baby-buddy.net/) is working correctly 💪
I will wait for the next release.

Good job 💪

[2022-08-02 07:13] bsaurusrex opened #507 "Enhancement: Feeding method - add "nanny fed""
Enhancement: It would be nice to add another Feeding method option : "Nanny fed"

[2022-08-02 07:15] bsaurusrex opened #508 "Enhancement: one step input for mixed formula and breast milk"
It would be nice to be able to enter split volumes of both formula and breast milk in a single feeding step.

For instance, 15ml breast milk and 40ml formula in one feeding vs having to create 2 feeding entries.

[2022-08-02 11:49] cdubz commented on #508
I think this would be a tough sell. There would need to quite a bit of refactoring to address a second set of fields for the model and I fear it would be more confusing UX wise then just doing the double entry (not to say that is great UX hah!).

[2022-08-02 11:51] cdubz commented on #507
I have resisted adding too many items to list for the most part. One thing you could do is use tagging to track this. Would that serve your use case?

[2022-08-02 14:34] ahgray commented on #507
I've been using tags with Bottle Fed, and it seems to do everything I want, allows me to filter etc to see how the Grandparents/Babysitter whoever did.

[2022-08-03 15:47] fapo85 opened #512 "Feature Request: who comparative data in weight chart"
Our pediatrician uses the Percentiles weight data to assess our child's weight development.

I would like to be able to visualize this as well.

The Percentiles weight data are comparative data to be able to estimate the development.
These are published by the World Health Organization.
[https://www.who.int/tools/child-growth-standards/standards/weight-for-age](https://www.who.int/tools/child-grow

[2022-08-03 15:53] cdubz commented on #512
Hm. The challenge here would be that Baby Buddy does not enforce any particular unit for weight (or anything else) so supplementing with this data would be pretty complex. Unless that changes at some point this is probably best left as an exercise to individual users with Baby Buddy's API.

And I would be happy to boost anything that someone builds and releases 😃

[2022-08-03 19:35] fapo85 commented on #512
hmm maybe better that one makes it generally.
So the function that you say I can just put lines in the chart.
That can be for comparison other children.
but also the who comparative data in different units.

but I think now the feature is too big :-D

[2022-08-04 03:06] cdubz opened #513 "Make nap user toggleable"
*Steps reworked from #504*

- [x] Remove the calculated `core.models.Sleep.nap` property entirely.
- [x] Create migration to add a true `nap` field to the `Sleep` model.
  - [x] Update existing data based on `NAP_START_MIN` and `NAP_START_MAX`.
  - [x] Remove `napping` field.
- [x] Remove `core.models.NapsManager`.
- [x] Update `core/templates/core/sleep_list.html` to use new `nap` property.
- [x]

[2022-08-04 03:07] cdubz commented on #503
Closing in favor of tracking in #513.

[2022-08-04 03:07] #503 closed

[2022-08-04 03:07] cdubz commented on #323
Closing in favor of tracking in #513.

[2022-08-04 03:07] #323 closed

[2022-08-04 03:07] #32 closed

[2022-08-04 03:34] cdubz opened #515 "Release version 2.0.0"
I have started work recently on a [v2 branch](https://github.com/babybuddy/babybuddy/tree/v2) and will try to focus future efforts on moving that forward with some issues with breaking changes. I'll use this issue on tracking for the relevant issues that need to be completed.

## Planned release date

26 May

## Draft release notes

### Breaking changes

- `TIME_ZONE` variable no longer supported.

[2022-08-04 14:48] paradox00 opened #516 "Ver 1.12.1 regression - date is reversed with en_gb locale"
Hi,
With latest update, some of the date forms (like in start timer or add note) initializing the time form with date in reversed format.
Instead of "04/08/2022" is shows "08/04/2022".

From quick debugging is looks related to #505.

Thanks,
Aviv

[2022-08-04 14:55] cdubz commented on #516
What locale are you using?

[2022-08-04 14:55] paradox00 commented on #516
en_gb

[2022-08-04 15:19] cdubz commented on #516
Ok yeah confirmed this causes issues with most locales. Grrr. Reverting now and will cut a new release. Thanks for reporting!

[2022-08-04 15:22] cdubz commented on #516
Fixed by https://github.com/babybuddy/babybuddy/commit/5a257f5b11b259812bfab3fcff03122138edeb2c

[2022-08-04 15:22] #516 closed

[2022-08-04 15:27] cdubz commented on #516
Also I just noticed you gave the locale in the issue title 😆 Sorry for the redundant follow up!

[2022-08-04 21:39] paradox00 commented on #516
Thank you for the quick fix!

[2022-08-05 18:05] EnsuingRequiem opened #517 "Allow REMOTE_USER authentication"
I'd like to see the RemoteUserMiddleware and RemoteUserBackend be able to be added via environment variable similar to how Tandoor Recipes implemented it (https://github.com/TandoorRecipes/recipes/commit/55777fd948e1fb18683ac833ba72cdc78c95ec75) in order to allow for forward-authentication/sso when setup behind a reverse proxy.

[2022-08-05 18:07] cdubz commented on #517
Should be doable! Happy to take PRs or I’ll take a look at this eventually.

[2022-08-05 18:20] EnsuingRequiem commented on #517
Cool! Since I have a bit of a guide to work from, I'll see if I can put together a PR. I should probably make sure that I have it working properly on my Tandoor container to have a comparison.

[2022-08-12 19:02] matthieu-kr opened #520 "Data mismatch"
There is a discrepancy in the way feeding data is reported on the dashboard vs the graphs, which sometimes causes them to report different values.
![Data](https://user-images.githubusercontent.com/34589622/184425789-cc375b48-871b-420c-bbd0-ff5040977d8f.jpg)

Looking at the data, it appears the dashboard uses the feeding start time to sum the total. The graphs appear to be using the end times.
![DB

[2022-08-12 19:12] cdubz commented on #520
Nice catch! Not sure there is a "right" way here. I think I'd lean towards using end date over start date. Happy to PRs to get these in line.

[2022-08-12 19:21] matthieu-kr commented on #520
The end dates make sense to me as well.

I don't know if it's related, but I think the time between feedings on the dashboard should continue to be calculated from the start.

[2022-08-12 19:25] cdubz commented on #520
Yeah I believe there is a reason for that... I don't recall it, hah, but I think that's generally what medical professionals ask for when this information needs to be tracked.

[2022-08-15 11:39] moonpyk opened #521 "French translations updated on POEditor"
Hi,

I made a big pass on the French translation to fix some mistakes and correctness issues. babybuddy should sound more "French" now.

This small issue is also an occasion for me to thank the whole dev team, me and my wife are using it since day 3 of the life our newborn son, this app is a gift to us.

Have a wonderful day

[2022-08-15 14:03] cdubz commented on #521
Thanks for updates! Glad to hear Baby Buddy is helping you out 😄

[2022-08-15 14:03] #521 closed

[2022-08-16 12:57] dillwishlist opened #522 "Feeding via API returns 400"
Hello,

I'm attempting to add a feeding via the API (though Bitfocus Companion).  I got everything working for a diaper change, so I know the basic connection is correct.  I am unable to get the feeding to work though.  Does anyone see my error?

[code]

Thanks

[2022-08-16 23:56] cdubz commented on #522
@dillwishlist If you look at the response body you should get a more detail error. In this case, when I test this on the demo I get:

[code]

However if you add the `method`, you'll also hit:

[code]

Here's a full example payload that I just tested successfully against the demo instance:

[code]

[2022-08-18 20:07] whnr commented on #515
Will it be totally breaking or is the intention to be able to migrate data from v1 to v2?

[2022-08-18 20:40] cdubz commented on #515
@whnr my intention is for there to be a migration path using regular database migrations. I'm not being _too_ ambitious here with the 2.0.0 tag so I'm fairly confident that will be achievable.

[2022-08-19 12:15] dillwishlist commented on #522
Thank you for the info.  It's allowed me to get much further, though I'm still struggling since both the source (companion) and the destination (babybuddy) don't have good debug logging.  So I have to use NC and curl to intercept and forward the request.

I've gotten to the point where I can send a manually crafted request successfully, but the same request doesn't work through companion.  Do you

[2022-08-19 13:00] cdubz commented on #522
Hmmm. Have you tried repeating the exact request that nc gives you? And what is “companion”?

[2022-08-19 13:02] cdubz commented on #522
One thing I notice in the nc output — it looks like the host is wrong?

[code]

If you mean to use local host it should be `127.0.0.1`

[2022-08-20 01:13] dillwishlist commented on #522
Companion is Bitfocus Companion.  Allows you to use an Elgato Stream Deck with custom buttons to trigger actions.  I'm making an easy to use button panel so we can click it rather than getting out our phones.

https://bitfocus.io/companion/

The host should be localhost, that was a typo on my part.  I would test against the demo or my install, then if it failed I would resend it to 127.0.0.1 and c

[2022-08-20 01:15] cdubz commented on #522
Hm yeah I’m a little confused. A video would probably be very helpful 👍

[2022-08-20 19:55] cdubz commented on #522
@dillwishlist just out of curiosity I poked around with the Companion application to test this out myself. I was able to make successful a `POST` to the demo instance for a diaper change, for example. Here's the (abbreviated) export that worked for me --

[code]

[2022-08-21 17:36] dillwishlist commented on #522
I have success with diaper changes, but not with feedings.  Here are my exports in Gists.

Diaper change:
https://gist.github.com/dillwishlist/d1f17fba8d67508492e8430cf32fdd9d

Feeding:
https://gist.github.com/dillwishlist/db2ca3421bcc07d255a23d9d70d8c967

And a video of what I'm doing.  I changed my token after I recorded this to be safe, don't worry!
https://www.youtube.com/watch?v=sQw2rmHh9Ko

[2022-08-21 20:29] cdubz commented on #522
@dillwishlist OK interesting... I imported your Feeding export in to my Companion, added the relevant variables (apparently they aren't part of the export) and was able to submit successfully (as long I set the `feedStartDate` and `feedStartTime` manually... I'm unclear on how those are meant to get set). I tested both on a local instance and to the demo.

It's frustrating that there doesn't seem

[2022-08-21 22:27] dillwishlist commented on #522
@cdubz Agreed.  Those start variables are set via the button on the first page which I didn't think to export.  It takes the date (gmt) and time (local) and concatenation them together into the custom variable.  Then the submit one does the same thing for the end custom variable.  I pointed the URL to local host and captured via 'nc -l 80' to see what the body is.  If I send that via curl, it work

[2022-08-21 22:28] dillwishlist commented on #522
Is there a way to put babybuddy in a debug mode so it logs all input to a file we can inspect?

[2022-08-21 23:37] cdubz commented on #522
No there is nothing like that I am aware of.

I’m betting this has something to do with the date and time values. What time zone do you have configured for each of the instances you’re testing with?

[2022-08-22 01:23] dillwishlist commented on #522
I have US Eastern set on my personal computer.  The server host is set to EDT as well.  Babybuddy is running in docker, I didn't set any time zone in the config there.  Is there somewhere to set that globally?  I set it on my user account.

[2022-08-22 01:35] cdubz commented on #522
So there is the [`TIME_ZONE`](http://docs.baby-buddy.net/configuration/application/#time_zone)  environment variable for setting the default TZ. It’s something I want to get rid of in a 2.x release. Anyway it may be causing an issue here? I’m actually unsure how it plays in to the date and time data sent to the API…

[2022-08-24 13:20] dillwishlist commented on #522
That does seem to have helped.  The date command now returns the same value on the container, host, and laptop.  Using the companion emulator seems to reliably submit values to BabuBuddy.  I'll test out and confirm with my stream deck when I get home this afternoon!

[2022-08-24 13:21] dillwishlist commented on #522
I ended up setting both the TZ and TIME_ZONE variables to be America/New_York to get things to work.

[2022-08-24 15:08] cdubz commented on #522
To be clear -- setting both the TZ and TIME_ZONE on the Baby Buddy Docker instance? I suppose one sets the system TZ and the other is what Baby Buddy looks at. Hmmmm. I really hate time zones lol.

[2022-08-24 20:14] dillwishlist commented on #522
Yes that's correct.  I'm setting both.

So it turns out this was a multi part issue, all related to time.  Setting the time zone fixed several things.  I was still getting the 400 though.  It turns out the culprit was my Linode wasn't running NTP so was off by a few seconds.  This would cause the "can't be in the future" error.  Now that we're in the right timezone and synchronized down to the sec

[2022-08-24 20:18] cdubz commented on #522
It does default to "now" does models that just have a `time` but it does not do any defaulting for those with a `start` and `end`. I could see maybe default for `end` but `start` would still need to be supplied.

[2022-08-24 20:47] dillwishlist commented on #522
Understood, but both `start` and `end` default to "now" in the web interface...

[2022-08-24 20:51] cdubz commented on #522
Ah yeah that's true. A relatively recent change. I think the API is probably behind on a couple of different defaults that have changed over time 😬

[2022-08-24 20:55] dillwishlist commented on #522
Great project, it's helping my wife and I a ton.  We appreciate all your hard work a ton!  Thanks!

[2022-08-24 20:55] #522 closed

[2022-08-25 14:49] dillwishlist opened #523 "Pumping graph entries do not line up with totals (time zone issue?)"
Hello,

On the Pumping graph specifically, the 8th entry is invisible even though the daily total is correct.![image](https://user-images.githubusercontent.com/31589434/186697389-835f5bbf-980f-49b3-a6a2-bc53b5fa57bb.png)

[2022-08-25 14:51] dillwishlist commented on #523
![image](https://user-images.githubusercontent.com/31589434/186697877-f4214e42-771c-4560-8f41-efd2758655b0.png)

[2022-08-25 15:02] cdubz commented on #523
@dillwishlist can you clarify what you mean by the "8th entry"?

[2022-08-26 00:56] dillwishlist commented on #523
The graph colors the 7th pump per day pink.  The 8th doesn't show up, or is the same color as the background.  For instance the Aug 24th at 11:40 entry of 45 ml is calculated on the daily total from the graph but isn't colored.

[2022-08-26 16:30] cdubz commented on #523
@dillwishlist Ok I see now. And the first entry for 24 Aug also appears to be from the day before. I'm guessing there is some time zone handling issue with the graph for determining which entries to include.

[2022-08-27 15:37] dillwishlist commented on #523
Oh that makes sense!  Let me know if there's anything you want me to do testing wise.

[2022-09-07 17:30] five2seven commented on #449
Somehow all 3 of my users are locked out, which leaves me with no way of getting in to fix. Would be super helpful if there was some type of documentation on how to deal with this.

[2022-09-08 16:13] cdubz opened #528 "Create a user add management command"
Somehow all 3 of my users are locked out, which leaves me with no way of getting in to fix. Would be super helpful if there was some type of documentation on how to deal with this.

_Originally posted by @five2seven in https://github.com/babybuddy/babybuddy/issues/449#issuecomment-1239682469_

[2022-09-08 22:03] cdubz commented on #520
Fixed by #527

[2022-09-08 22:03] #520 closed

[2022-09-18 21:00] #517 closed

[2022-09-22 21:58] renatose opened #532 "In Portuguese: events created from timers don't inherit times (start/end)"
This is a bug happening in Portuguese only as I tried changing to other languages and the function behaved as expected.
I'm using docker latest from linuxserver.io

[2022-09-22 22:02] renatose commented on #532
The issue is reproducible in the demo
http://demo.baby-buddy.net/

[2022-09-22 23:19] cdubz commented on #532
Probably related to or a duplicate of #498. It’s a nasty bug that I really need to dig in to…

[2022-09-23 04:43] renatose commented on #532
When my kid allows I'll try to dig into it as well and I'll post any findings.

[2022-09-24 20:11] thib5 commented on #184
Hi, in the latest release the line 69 seams already commented. but the iframe still doesn't work. how can I make it work ( don't know if it change something but my app is host on Heroku

[2022-09-28 07:24] earthcomfy commented on #528
Hi, I will work on this issue.

[2022-09-28 12:43] earthcomfy commented on #528
@cdubz Is the custom management command supposed to create one user or should it accept the number of users to be created as an argument? In addition, is the command supposed to create users with the `superuser` status? If so there is already a built-in command that does this `python manage.py createsuperuser`.

Looking forward to hearing from you :smile:

[2022-09-28 13:03] cdubz commented on #528
Hi, @earthcomfy! I _thought_ there was a command for this, hah.

Anyway I think it would still be ideal to have a custom command with prompts for the user properties (including the option to make the user an admin or not).

Relevant properties would be what you see in the custom user create page in the app — username, first name, last name, email, staff status, active status, and password.

[2022-09-28 13:17] earthcomfy commented on #528
@cdubz I see. Thanks for the clarification.

[2022-09-29 10:06] earthcomfy commented on #470
Hi, @cdubz I was also checking this out and I have found a solution not just to hide the recently used container, but also the "Click on the tags to add [...]"). I did the latter using this:point_down: CSS trick and it works.

[code]
Let me know if this approach is acceptable to you. I can then take the issue and submit a PR.

Thanks

[2022-09-29 11:36] earthcomfy opened #533 "Delete Inactive Timers shouldn't appear if there are no timer entries"
The **Delete Inactive Timers** button shows up even when there are no entries :point_down:

![Inactive timers](https://user-images.githubusercontent.com/66206865/193020587-960462b9-f96f-426c-9ab7-f039342f6e89.png)

If you approve the issue, I would love to work on it.

[2022-09-29 15:38] cdubz commented on #533
Sure, go for it. Thanks!

[2022-09-29 17:14] earthcomfy commented on #470
Okay, I will see if I can find a cleaner solution.

[2022-09-30 22:07] almer-t opened #535 "Dutch Translations updated on POEditor"
Hi,

I updated the Dutch translations on POEditor a while ago, I hope this'll be useful and can be merged in.
Thanks for the great work on developing and maintaining BabyBuddy!

Best!

[2022-10-01 15:28] cdubz commented on #535
Thanks for the ping. My workflow with POEditor is not strong 😬

TIL to not use POEditor's integrated upgrade... I assumed it would create a PR but instead it just made 22 separate commits, one for each translation file 😭

Anyway your updates should be in now -- thank you!!

[2022-10-01 15:28] #535 closed

[2022-10-04 15:24] #528 closed

[2022-10-04 23:47] #533 closed

[2022-10-05 00:03] #470 closed

[2022-10-09 04:42] jmunoz94 commented on #468
I spent a few hours investigating this issue. It seems that the issue comes from Django translations and it is not exclusive to Spanish (Portuguese is also affected).

For Spanish, "minute" is being translated as "minutos" (which is actually the translation for "minutes") and "minutes" is translated as "minutes" (which is not a Spanish word, so I would guess it was a typo). [These are the relevant

[2022-10-10 03:38] cdubz commented on #468
@jmunoz94 thank you for digging some deeply on this!

I'm sorry to hear you were discouraged from contributing here. That is frustrating. I also have never used Transifex (or even Django's ticketing system) so I don't have any particular advice or recommendations here.

This is a fair point. I don't think there is any reason `duration_string` _shouldn't_ support days so perhaps we should proceed w

[2022-10-11 04:14] jmunoz94 commented on #468
Turns out that `duration_parts` does take days into account, but converts them to hours (I had not paid much attention to the definition of `duration_parts`, my bad). I think that is an OK behavior, so I did not edit that function.

I have put a PR up that should address this. I created a new filter to calculate a delta between a given time and (by default) `now` since I could not find a built-in

[2022-10-12 02:13] #468 closed

[2022-10-12 04:19] TomLyon opened #540 "Database Admin: 500 Error v1.13.0"
#### Issue description
Accessing database admin while on the latest version 1.13.0 causes a 500 error.

#### Steps to reproduce the issue

1.  Update to the latest version of babybuddy (1.13.0)
2.  Login to dashboard
3.  Attempt to access database admin from dropdown menu

#### Additional details
Reverting back to v1.12.2 fixed the database admin page.

![image](https://user-images.githubuserconte

[2022-10-12 15:59] cdubz commented on #540
I'm not able to reproduce this locally or in the demo. I think Django included some migrations -- did you run migrations after updating? If so or if that doesn't help, could you enable debug (set `DEBUG` environment variable to `1`) and see if you get more information about the error?

[2022-10-12 17:18] starbuck93 commented on #540
Also seeing this. Deployed on Heroku (for the time). My plan was to update, get my data out of the Heroku database and migrate to a Home Assistant add-on. Looks like the papertrail log add-on in Heroku is just the web server logs.

[2022-10-12 23:06] cdubz commented on #540
@starbuck93 same Q -- did you run migrations after your update?

[2022-10-12 23:26] starbuck93 commented on #540
No, I'm unsure how to do that in the Heroku deployment via a forked repository. I did find how to get to the `bash` shell inside of the Heroku instance.

[2022-10-12 23:28] cdubz commented on #540
Run `python manage.py migrate` from the bash shell.

[2022-10-13 00:01] TomLyon commented on #540
No, I haven't run any data migrations. I'm running BabyBuddy using Docker and MySQL. I attempted the above command inside the container:

`root@fcfb82645475:/app/babybuddy# python3 manage.py migrate
Traceback (most recent call last):
  File "/app/babybuddy/manage.py", line 27, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/lib/python3.9/site-packages/django/core/management/__init